In [1]:
import json
import pandas as pd

file = open(r"D:\BOT_Prime\CIB_DELTA_back\output\data.json")
datas = json.load(file)
df = pd.DataFrame(columns=[
        'Name',
        'DOB', 
        'Gender', 
        'FatherName', 
        'CitizenshipDetails', 
        'PassportDetails', 
        'DrivingLicenseDetails',
        'VoterIDDetails',
        'PANDetails', 
        'CompanyDetails',
        'IndianEmbassyDetails',
        'BlackLists' 
    ])

num = 0
for data in datas["BulkOffLoading"]["Individuals"]["Item"]:
    # for key_value in data:
    # print("--------------------------- REal Data --------------------- \n")
    # print(data)
    dicts = {}
    data_keys = list(data.keys())
    # print(data_keys)
    for data_key in data_keys:
        # print(data_key)
        if isinstance(data[data_key], str):
            dicts[data_key] = data[data_key]
            print(dicts[data_key])
        
        else:
            # maintain Citizenship details and black list detail
            keys = list(data[data_key].keys())
            data_count = int(data[data_key][keys[0]])
            # print('DATA_COUNT',data_count)
            if data_count > 1: #here data with data_count greater than 1 will come in list format
                details = data[data_key][keys[1]]
                # if details contain 
                print('DETAILS',details)
                dicts[data_key] = ['|'.join(entry.values()) for entry in details] 
                print(dicts[data_key])
                
            elif data_count == 0:
                continue
            else:
                details = data[data_key][keys[1]]
                # print('next detail',details)
                dicts[data_key] = '|'.join(details.values())
            # df.loc[len(df)] = dicts
            
    # print(dicts)
    # print(f"--------------- Processed Data number {num} -----------------------" )
    print('Dictionary==========================================================>',dicts)
    num += 1
    if num == 2:
        break
    df.loc[len(df)] = dicts

BALRAM PRADHAN
2015-03-15
M
JITENDRA PRADHAN
DETAILS [{'Sector': 'Bank and Financial Institutions', 'BlacklistNumber': '5432', 'BlacklistedDate': '2071-01-21', 'BlacklistType': 'CF', 'NatureOfRelation': 'Guarantor'}, {'Sector': 'Bank and Financial Institutions', 'BlacklistNumber': '5432', 'BlacklistedDate': '2071-01-21', 'BlacklistType': 'CF', 'NatureOfRelation': 'Partner'}]
['Bank and Financial Institutions|5432|2071-01-21|CF|Guarantor', 'Bank and Financial Institutions|5432|2071-01-21|CF|Partner']
Dictionary==========================================================> {'Name': 'BALRAM PRADHAN', 'DOB': '2015-03-15', 'Gender': 'M', 'FatherName': 'JITENDRA PRADHAN', 'CitizenshipDetails': '2827|2046-01-11|Kathmandu', 'BlackLists': ['Bank and Financial Institutions|5432|2071-01-21|CF|Guarantor', 'Bank and Financial Institutions|5432|2071-01-21|CF|Partner']}
BHADRA BARAILI
2004-11-22
M
SAL BAHADUR BARAILI
Dictionary==========================================================> {'Name': 'BHADRA BARAILI', 'DOB': '2004-11-22', 'Gender': 'M', 'FatherName': 'SAL BAHADUR BARAILI', 'CitizenshipDetails': '2061/30387|2041-08-29|Sankhuwasabha', 'BlackLists': 'Bank and Financial Institutions|15073|2076-07-18|CF|Guarantor'}

In [14]:
import json
import pandas as pd

file = open(r"D:\BOT_Prime\CIB_DELTA_back\output\data.json")
datas = json.load(file)
df = pd.DataFrame(columns=[
        'Name',
        'DOB', 
        'Gender', 
        'FatherName', 
        'CitizenshipDetails', 
        'PassportDetails', 
        'DrivingLicenseDetails',
        'VoterIDDetails',
        'PANDetails', 
        'IndianEmbassyDetails',
        'BlackLists' 
    ])

num = 0
for data in datas["BulkOffLoading"]["Individuals"]["Item"]:
    dicts = {}
    data_keys = list(data.keys())
    # print(data_keys)
    for data_key in data_keys[:4]:
        dicts[data_key] = data[data_key]
    for data_key in sorted(data_keys[4:]):
        keys = list(data[data_key].keys())
        data_count = int(data[data_key][keys[0]])
        if data_count > 1:
            details = data[data_key][keys[1]]
            if "BlackList" in data_key:
                dicts[data_key] = ['|'.join(detail.values()) for detail in details]
                # for detail in details:
                #     dicts[data_key] = '|'.join(detail.values())
                #     df.loc[len(df)] = dicts
                continue
            else:  
                for detail in details:
                    dicts[data_key] = '|'.join(detail.values())
                    df.loc[len(df)] = dicts
        elif data_count == 0:
            continue
        else:
            details = data[data_key][keys[1]]
            dicts[data_key] = '|'.join(details.values())

        if "BlackList" not in data_key:
            df.loc[len(df)] = dicts
            del dicts[data_key]
    num += 1
    if num == 20:
        break

# df.to_excel("black_list.xlsx", index=False)

In [15]:
df.head(15)

,Name,DOB,Gender,FatherName,CitizenshipDetails,PassportDetails,DrivingLicenseDetails,VoterIDDetails,PANDetails,IndianEmbassyDetails,BlackLists
0,BALRAM PRADHAN,2015-03-15,M,JITENDRA PRADHAN,2827|2046-01-11|Kathmandu,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|5432|2071-01-...
1,BHADRA BARAILI,2004-11-22,M,SAL BAHADUR BARAILI,2061/30387|2041-08-29|Sankhuwasabha,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|15073|2076-07-...
2,SUDHA DEVI DARUKA,2030-01-01,F,SAWAR MAL RANGUTA,10523|2068-08-04|Parsa,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|14770|2076-06-...
3,RAJESH RAJ VERMA,2030-08-22,M,KRISHNA RAJ VERMA,5237|2047-07-20|Saptari,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|13189|2076-03...
4,NEELAM RIJAL,2029-05-21,F,TARAK PRASAD RIJAL,22961|2052-08-13|Morang,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|11812|2075-09...
5,JIVAN GIRI,2036-01-29,M,RAM CHANDRA GIRI,2727/5942|2052-04-22|Morang,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|69325|2080-02-...
6,JIVAN GIRI,2036-01-29,M,RAM CHANDRA GIRI,NaN,NaN,NaN,NaN,304598155|2067-12-09|Jhapa,NaN,Bank and Financial Institutions|69325|2080-02-...
7,KUMAR ROKKA CHHETRI,2031-02-29,M,BASANTA ROKKA CHHETRI,24557|2049-12-25|Makawanpur,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|68051|2080-02-...
8,KUMAR ROKKA CHHETRI,2031-02-29,M,BASANTA ROKKA CHHETRI,24557|2049-12-25|Rasuwa,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|68051|2080-02-...
9,KUMAR ROKKA CHHETRI,2031-02-29,M,BASANTA ROKKA CHHETRI,25447|2049-12-25|Makawanpur,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|68051|2080-02-...
10,KUMAR ROKKA CHHETRI,2031-02-29,M,BASANTA ROKKA CHHETRI,25447|2049-12-25|Makawanpur,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|68051|2080-02-...
11,KUMAR ROKKA CHHETRI,2031-02-29,M,BASANTA ROKKA CHHETRI,NaN,NaN,NaN,NaN,24557|2049-12-25|Rasuwa,NaN,Bank and Financial Institutions|68051|2080-02-...
12,MEENA DEVI TAMANG,2043-12-10,F,RAM BAHADUR TAMANG,422616|2061-12-16|Terhathum,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|11813|2075-09-...
13,DHIRGHA BAHADUR THAPA,2036-08-13,M,DHAL BAHADUR THAPA,84984|2054-05-10|Sindhupalchowk,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|18818|2077-05-...
14,RAJU SAPKOTA,2041-10-09,M,MUKTI BAHADUR SAPKOTA,301073/158370|2063-10-28|Kavre,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|59885|2079-12-...

In [32]:
import ast
item = ['Bank and Financial Institutions|5432|2071-01-21|CF|Guarantor', 'Bank and Financial Institutions|5432|2071-01-21|CF|Partner']

In [33]:
list1 = []
item = str(item)
    # if item.isinstance()
if ',' in item:
    black_list = ast.literal_eval(item)
    if isinstance(black_list, list):
        for data in black_list:
            # Check if '|' exists before splitting
            if '|' in data:
                blacklist_number = data.split('|')[1]
                list1.append(blacklist_number)

In [34]:
print(list1)

['5432', '5432']

In [24]:
import ast
 pan = [str(user_data[i]) for i in columns if i.find('PANDetails')>=0]
for item in df.iterrows():
    print(item)
    item = str(item)
    # if item.isinstance()
    if ',' in item:
        black_list = ast.literal_eval(item)
        if isinstance(black_list, list):
            for data in black_list:
                # Check if '|' exists before splitting
                if '|' in data:
                    blacklist_number = [data.split('|')[1]]
                    print(blacklist_number)
                    # pan_no.append(blacklist_number)
                    # search_list.append('pan_no') if pan_number and (user_data['Account_Nature'] == 'Institutional') else None
                    # search_list.append('pan_no') if pan_number else ''
                    # incremental_df.at[index, 'CitizenshipNumber'] = citizen_number
                else:
                    print(f"Invalid format in item: {data}")
    else:
        # Check if '|' exists before splitting
        if '|' in item:
            blacklist_number = item.split('|')[1]
            # pan_no.append(pan_number)
            print(blacklist_number)
            # incremental_df.at[index, 'CitizenshipNumber'] = citizen_number
            # search_list.append('pan_no') if pan_number and (user_data['Account_Nature'] == 'Institutional') else None
            # search_list.append('pan_no') if pan_number else ''
    break

(0, Name                                                        BALRAM PRADHAN
DOB                                                             2015-03-15
Gender                                                                   M
FatherName                                                JITENDRA PRADHAN
CitizenshipDetails                               2827|2046-01-11|Kathmandu
PassportDetails                                                        NaN
DrivingLicenseDetails                                                  NaN
VoterIDDetails                                                         NaN
PANDetails                                                             NaN
IndianEmbassyDetails                                                   NaN
BlackLists               [Bank and Financial Institutions|5432|2071-01-...
Name: 0, dtype: object)

SyntaxError: invalid syntax (<unknown>, line 1)

In [16]:
dictionary = df.to_dict()

In [17]:
dictionary

{'Name': {0: 'BALRAM PRADHAN',
  1: 'BHADRA BARAILI',
  2: 'SUDHA DEVI DARUKA',
  3: 'RAJESH RAJ VERMA',
  4: 'NEELAM RIJAL',
  5: 'JIVAN GIRI',
  6: 'JIVAN GIRI',
  7: 'KUMAR ROKKA CHHETRI',
  8: 'KUMAR ROKKA CHHETRI',
  9: 'KUMAR ROKKA CHHETRI',
  10: 'KUMAR ROKKA CHHETRI',
  11: 'KUMAR ROKKA CHHETRI',
  12: 'MEENA DEVI TAMANG',
  13: 'DHIRGHA BAHADUR THAPA',
  14: 'RAJU SAPKOTA',
  15: 'RAJESH KUMAR SHARMA',
  16: 'RADHIKA NEUPANE',
  17: 'NABIN DAHAL',
  18: 'MADHAV ACHARYA',
  19: 'BIJAYÂ\xa0 GUPTA KANU',
  20: 'DAMBAR BAHADUR SHRESTHA',
  21: 'LAXMI DHAKAL',
  22: 'DEEPAK ADHIKARI',
  23: 'SURESH SHRESTHA',
  24: 'GITA KUMARI  SHAHI'},
 'DOB': {0: '2015-03-15',
  1: '2004-11-22',
  2: '2030-01-01',
  3: '2030-08-22',
  4: '2029-05-21',
  5: '2036-01-29',
  6: '2036-01-29',
  7: '2031-02-29',
  8: '2031-02-29',
  9: '2031-02-29',
  10: '2031-02-29',
  11: '2031-02-29',
  12: '2043-12-10',
  13: '2036-08-13',
  14: '2041-10-09',
  15: '2028-05-22',
  16: '2033-01-16',
  17: '2043-09-29',
  18: '2027-01-29',
  19: '2040-02-10',
  20: '2027-12-30',
  21: '2036-09-25',
  22: '2046-06-02',
  23: '2041-10-12',
  24: '2046-10-01'},
 'Gender': {0: 'M',
  1: 'M',
  2: 'F',
  3: 'M',
  4: 'F',
  5: 'M',
  6: 'M',
  7: 'M',
  8: 'M',
  9: 'M',
  10: 'M',
  11: 'M',
  12: 'F',
  13: 'M',
  14: 'M',
  15: 'M',
  16: 'F',
  17: 'M',
  18: 'M',
  19: 'M',
  20: 'M',
  21: 'F',
  22: 'M',
  23: 'M',
  24: 'F'},
 'FatherName': {0: 'JITENDRA PRADHAN',
  1: 'SAL BAHADUR BARAILI',
  2: 'SAWAR MAL RANGUTA',
  3: 'KRISHNA RAJ VERMA',
  4: 'TARAK PRASAD RIJAL',
  5: 'RAM CHANDRA GIRI',
  6: 'RAM CHANDRA GIRI',
  7: 'BASANTA ROKKA CHHETRI',
  8: 'BASANTA ROKKA CHHETRI',
  9: 'BASANTA ROKKA CHHETRI',
  10: 'BASANTA ROKKA CHHETRI',
  11: 'BASANTA ROKKA CHHETRI',
  12: 'RAM BAHADUR TAMANG',
  13: 'DHAL BAHADUR THAPA',
  14: 'MUKTI BAHADUR SAPKOTA',
  15: 'BUDDHI PRASAD SHARMA',
  16: 'LABYA PRASAD DHUNGANA',
  17: 'SHREE PRASAD DAHAL',
  18: 'BHOJ RAJ SHARMA',
  19: 'NAWAL PRASAD GUPTA',
  20: 'NAR BAHADUR SHRESTHA',
  21: 'THIR BAHADUR DHAKAL',
  22: 'KRISHNA PRASAD ADHIKARI',
  23: 'INDRA BAHADUR SHRESTHA',
  24: 'RAM  BAHADUR SHAHI'},
 'CitizenshipDetails': {0: '2827|2046-01-11|Kathmandu',
  1: '2061/30387|2041-08-29|Sankhuwasabha',
  2: '10523|2068-08-04|Parsa',
  3: '5237|2047-07-20|Saptari',
  4: '22961|2052-08-13|Morang',
  5: '2727/5942|2052-04-22|Morang',
  6: nan,
  7: '24557|2049-12-25|Makawanpur',
  8: '24557|2049-12-25|Rasuwa',
  9: '25447|2049-12-25|Makawanpur',
  10: '25447|2049-12-25|Makawanpur',
  11: nan,
  12: '422616|2061-12-16|Terhathum',
  13: '84984|2054-05-10|Sindhupalchowk',
  14: '301073/158370|2063-10-28|Kavre',
  15: '1/1078|2044-11-25|Morang',
  16: '243030/2|2063-10-05|Sindhupalchowk',
  17: '13182|2060-03-13|Kathmandu',
  18: '1332|2042-11-10|Pyuthan',
  19: '333055/660|2063-12-09|Bara',
  20: '2611/39647|2044-12-21|Sankhuwasabha',
  21: '35381|2056-11-04|Dhading',
  22: '167564|2063-02-02|Kaski',
  23: '19/1361|2058-04-07|Makawanpur',
  24: '631033/75|2065-07-11|Dailekh'},
 'PassportDetails': {0: nan,
  1: nan,
  2: nan,
  3: nan,
  4: nan,
  5: nan,
  6: nan,
  7: nan,
  8: nan,
  9: nan,
  10: nan,
  11: nan,
  12: nan,
  13: nan,
  14: nan,
  15: nan,
  16: nan,
  17: nan,
  18: nan,
  19: nan,
  20: nan,
  21: nan,
  22: nan,
  23: nan,
  24: nan},
 'DrivingLicenseDetails': {0: nan,
  1: nan,
  2: nan,
  3: nan,
  4: nan,
  5: nan,
  6: nan,
  7: nan,
  8: nan,
  9: nan,
  10: nan,
  11: nan,
  12: nan,
  13: nan,
  14: nan,
  15: nan,
  16: nan,
  17: nan,
  18: nan,
  19: nan,
  20: nan,
  21: nan,
  22: nan,
  23: nan,
  24: nan},
 'VoterIDDetails': {0: nan,
  1: nan,
  2: nan,
  3: nan,
  4: nan,
  5: nan,
  6: nan,
  7: nan,
  8: nan,
  9: nan,
  10: nan,
  11: nan,
  12: nan,
  13: nan,
  14: nan,
  15: nan,
  16: nan,
  17: nan,
  18: nan,
  19: nan,
  20: nan,
  21: nan,
  22: nan,
  23: nan,
  24: nan},
 'PANDetails': {0: nan,
  1: nan,
  2: nan,
  3: nan,
  4: nan,
  5: nan,
  6: '304598155|2067-12-09|Jhapa',
  7: nan,
  8: nan,
  9: nan,
  10: nan,
  11: '24557|2049-12-25|Rasuwa',
  12: nan,
  13: nan,
  14: nan,
  15: nan,
  16: nan,
  17: nan,
  18: nan,
  19: nan,
  20: nan,
  21: nan,
  22: nan,
  23: nan,
  24: nan},
 'IndianEmbassyDetails': {0: nan,
  1: nan,
  2: nan,
  3: nan,
  4: nan,
  5: nan,
  6: nan,
  7: nan,
  8: nan,
  9: nan,
  10: nan,
  11: nan,
  12: nan,
  13: nan,
  14: nan,
  15: nan,
  16: nan,
  17: nan,
  18: nan,
  19: nan,
  20: nan,
  21: nan,
  22: nan,
  23: nan,
  24: nan},
 'BlackLists': {0: ['Bank and Financial Institutions|5432|2071-01-21|CF|Guarantor',
   'Bank and Financial Institutions|5432|2071-01-21|CF|Partner'],
  1: 'Bank and Financial Institutions|15073|2076-07-18|CF|Guarantor',
  2: 'Bank and Financial Institutions|14770|2076-06-12|CF|Proprietor',
  3: ['Bank and Financial Institutions|13189|2076-03-01|CF|Guarantor',
   'Bank and Financial Institutions|13189|2076-03-01|CF|Share Holder',
   'Bank and Financial Institutions|54377|2079-10-09|CF|Borrower'],
  4: ['Bank and Financial Institutions|11812|2075-09-15|CF|Proprietor',
   'Bank and Financial Institutions|35452|2079-01-22|CF|Borrower'],
  5: 'Bank and Financial Institutions|69325|2080-02-29|CF|Guarantor',
  6: 'Bank and Financial Institutions|69325|2080-02-29|CF|Guarantor',
  7: 'Bank and Financial Institutions|68051|2080-02-21|NON CF|Borrower',
  8: 'Bank and Financial Institutions|68051|2080-02-21|NON CF|Borrower',
  9: 'Bank and Financial Institutions|68051|2080-02-21|NON CF|Borrower',
  10: 'Bank and Financial Institutions|68051|2080-02-21|NON CF|Borrower',
  11: 'Bank and Financial Institutions|68051|2080-02-21|NON CF|Borrower',
  12: 'Bank and Financial Institutions|11813|2075-09-15|CF|Guarantor',
  13: 'Bank and Financial Institutions|18818|2077-05-01|CF|Proprietor',
  14: 'Bank and Financial Institutions|59885|2079-12-09|NON CF|Borrower',
  15: ['Bank and Financial Institutions|11812|2075-09-15|CF|Guarantor',
   'Bank and Financial Institutions|35452|2079-01-22|CF|Guarantor'],
  16: 'Bank and Financial Institutions|7830|2073-09-21|CF|Guarantor',
  17: ['Bank and Financial Institutions|36594|2079-02-11|CF|Borrower',
   'Bank and Financial Institutions|40793|2079-03-31|NON CF|Borrower',
   'Bank and Financial Institutions|45957|2079-06-12|NON CF|Borrower',
   'Bank and Financial Institutions|52352|2079-09-17|CF|Borrower'],
  18: 'Bank and Financial Institutions|65832|2080-02-01|NON CF|Borrower',
  19: 'Bank and Financial Institutions|46361|2079-06-15|NON CF|Borrower',
  20: 'Bank and Financial Institutions|32562|2078-11-16|CF|Proprietor',
  21: ['Bank and Financial Institutions|20120|2077-08-12|CF|Guarantor',
   'Bank and Financial Institutions|20122|2077-08-12|CF|Guarantor',
   'Bank and Financial Institutions|20135|2077-08-12|CF|Guarantor',
   'Bank and Financial Institutions|20135|2077-08-12|CF|Partner'],
  22: 'Bank and Financial Institutions|12007|2075-10-07|CF|Borrower',
  23: 'Bank and Financial Institutions|56790|2079-10-29|CF|Guarantor',
  24: ['Bank and Financial Institutions|40998|2079-04-03|NON CF|Borrower',
   'Bank and Financial Institutions|44870|2079-05-27|NON CF|Borrower',
   'Bank and Financial Institutions|44974|2079-05-28|NON CF|Borrower']}}

In [18]:
dictionary.keys()

dict_keys(['Name', 'DOB', 'Gender', 'FatherName', 'CitizenshipDetails', 'PassportDetails', 'DrivingLicenseDetails', 'VoterIDDetails', 'PANDetails', 'IndianEmbassyDetails', 'BlackLists'])

In [21]:
# (type(dictionary.values()))

dict_values

In [8]:
import json
import pandas as pd

file = open(r"D:\BOT_Prime\CIB_DELTA_back\output\data.json")
datas = json.load(file)
df = pd.DataFrame(columns=[
        'Name',
        'DOB', 
        'Gender', 
        'FatherName', 
        'CitizenshipDetails', 
        'PassportDetails', 
        'DrivingLicenseDetails',
        'VoterIDDetails',
        'PANDetails', 
        'IndianEmbassyDetails',
        'BlackLists' 
    ])

num = 0
for data in datas["BulkOffLoading"]["Individuals"]["Item"]:
    dicts = {}
    data_keys = list(data.keys())
    # print(data_keys)
    for data_key in data_keys[:4]:
        dicts[data_key] = data[data_key]
    for data_key in sorted(data_keys[4:]):
        keys = list(data[data_key].keys())
        data_count = int(data[data_key][keys[0]])
        if data_count > 1:
            details = data[data_key][keys[1]]
            if "BlackList" in data_key:
                dicts[data_key] = ['|'.join(detail.values()) for detail in details]
                continue
            else:  
                for detail in details:
                    dicts[data_key] = '|'.join(detail.values())
                    print(dicts)
                    df.loc[len(df)] = dicts
        elif data_count == 0:
            continue
        else:
            details = data[data_key][keys[1]]
            dicts[data_key] = '|'.join(details.values())
            print(dicts)

        if "BlackList" not in data_key:
            df.loc[len(df)] = dicts
            del dicts[data_key]
    num += 1
    if num == 1:
        break

# df.to_excel("black_list.xlsx", index=False)

{'Name': 'BALRAM PRADHAN', 'DOB': '2015-03-15', 'Gender': 'M', 'FatherName': 'JITENDRA PRADHAN', 'BlackLists': ['Bank and Financial Institutions|5432|2071-01-21|CF|Guarantor', 'Bank and Financial Institutions|5432|2071-01-21|CF|Partner'], 'CitizenshipDetails': '2827|2046-01-11|Kathmandu'}

In [9]:
df

,Name,DOB,Gender,FatherName,CitizenshipDetails,PassportDetails,DrivingLicenseDetails,VoterIDDetails,PANDetails,IndianEmbassyDetails,BlackLists
0,BALRAM PRADHAN,2015-03-15,M,JITENDRA PRADHAN,2827|2046-01-11|Kathmandu,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|5432|2071-01-...

In [13]:
for data in df.items():
    print(data)
    # print(data['BlackLists'])
    dict1 = {}
    dict1.append(data['Name'])

('Name', 0    BALRAM PRADHAN
Name: Name, dtype: object)

AttributeError: 'dict' object has no attribute 'append'

In [6]:
# # Function to split list values in the 'BlackLists' column
# def split_blacklists(row):
#     try:
#         # Evaluate the 'BlackLists' column to convert it from string to list
#         blacklist_items = ast.literal_eval(row['BlackLists'])
#         if isinstance(blacklist_items, list):
#             # Create multiple rows for each item in the list
#             return pd.DataFrame(blacklist_items, columns=df.columns[:-1])
#     except Exception as e:
#         # If evaluation fails, return the row as is
#         pass
#     return row

# # Apply the function to split list values and create multiple rows
# result_df = pd.concat(df.apply(split_blacklists, axis=1, result_type='expand'), ignore_index=True)

# # Concatenate the original DataFrame with the resulting DataFrame
# final_df = pd.concat([df.drop(columns=['BlackLists']), result_df], ignore_index=True)

# # Print the final DataFrame with list values split into multiple rows
# # print(final_df)

In [17]:
# df['BlackLists'] = df['BlackLists'].map(lambda x : str(x).split(','))

In [18]:
df.head()

,Name,DOB,Gender,FatherName,CitizenshipDetails,PassportDetails,DrivingLicenseDetails,VoterIDDetails,PANDetails,IndianEmbassyDetails,BlackLists
0,BALRAM PRADHAN,2015-03-15,M,JITENDRA PRADHAN,2827|2046-01-11|Kathmandu,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|5432|2071-01-...
1,BHADRA BARAILI,2004-11-22,M,SAL BAHADUR BARAILI,2061/30387|2041-08-29|Sankhuwasabha,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|15073|2076-07-...
2,SUDHA DEVI DARUKA,2030-01-01,F,SAWAR MAL RANGUTA,10523|2068-08-04|Parsa,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|14770|2076-06-...
3,RAJESH RAJ VERMA,2030-08-22,M,KRISHNA RAJ VERMA,5237|2047-07-20|Saptari,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|13189|2076-03...
4,NEELAM RIJAL,2029-05-21,F,TARAK PRASAD RIJAL,22961|2052-08-13|Morang,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|11812|2075-09...

In [19]:
df.head(20)

,Name,DOB,Gender,FatherName,CitizenshipDetails,PassportDetails,DrivingLicenseDetails,VoterIDDetails,PANDetails,IndianEmbassyDetails,BlackLists
0,BALRAM PRADHAN,2015-03-15,M,JITENDRA PRADHAN,2827|2046-01-11|Kathmandu,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|5432|2071-01-...
1,BHADRA BARAILI,2004-11-22,M,SAL BAHADUR BARAILI,2061/30387|2041-08-29|Sankhuwasabha,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|15073|2076-07-...
2,SUDHA DEVI DARUKA,2030-01-01,F,SAWAR MAL RANGUTA,10523|2068-08-04|Parsa,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|14770|2076-06-...
3,RAJESH RAJ VERMA,2030-08-22,M,KRISHNA RAJ VERMA,5237|2047-07-20|Saptari,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|13189|2076-03...
4,NEELAM RIJAL,2029-05-21,F,TARAK PRASAD RIJAL,22961|2052-08-13|Morang,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|11812|2075-09...
5,JIVAN GIRI,2036-01-29,M,RAM CHANDRA GIRI,2727/5942|2052-04-22|Morang,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|69325|2080-02-...
6,JIVAN GIRI,2036-01-29,M,RAM CHANDRA GIRI,NaN,NaN,NaN,NaN,304598155|2067-12-09|Jhapa,NaN,Bank and Financial Institutions|69325|2080-02-...
7,KUMAR ROKKA CHHETRI,2031-02-29,M,BASANTA ROKKA CHHETRI,24557|2049-12-25|Makawanpur,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|68051|2080-02-...
8,KUMAR ROKKA CHHETRI,2031-02-29,M,BASANTA ROKKA CHHETRI,24557|2049-12-25|Rasuwa,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|68051|2080-02-...
9,KUMAR ROKKA CHHETRI,2031-02-29,M,BASANTA ROKKA CHHETRI,25447|2049-12-25|Makawanpur,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|68051|2080-02-...
10,KUMAR ROKKA CHHETRI,2031-02-29,M,BASANTA ROKKA CHHETRI,25447|2049-12-25|Makawanpur,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|68051|2080-02-...
11,KUMAR ROKKA CHHETRI,2031-02-29,M,BASANTA ROKKA CHHETRI,NaN,NaN,NaN,NaN,24557|2049-12-25|Rasuwa,NaN,Bank and Financial Institutions|68051|2080-02-...
12,MEENA DEVI TAMANG,2043-12-10,F,RAM BAHADUR TAMANG,422616|2061-12-16|Terhathum,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|11813|2075-09-...
13,DHIRGHA BAHADUR THAPA,2036-08-13,M,DHAL BAHADUR THAPA,84984|2054-05-10|Sindhupalchowk,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|18818|2077-05-...
14,RAJU SAPKOTA,2041-10-09,M,MUKTI BAHADUR SAPKOTA,301073/158370|2063-10-28|Kavre,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|59885|2079-12-...
15,RAJESH KUMAR SHARMA,2028-05-22,M,BUDDHI PRASAD SHARMA,1/1078|2044-11-25|Morang,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|11812|2075-09...
16,RADHIKA NEUPANE,2033-01-16,F,LABYA PRASAD DHUNGANA,243030/2|2063-10-05|Sindhupalchowk,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|7830|2073-09-2...
17,NABIN DAHAL,2043-09-29,M,SHREE PRASAD DAHAL,13182|2060-03-13|Kathmandu,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|36594|2079-02...
18,MADHAV ACHARYA,2027-01-29,M,BHOJ RAJ SHARMA,1332|2042-11-10|Pyuthan,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|65832|2080-02-...
19,BIJAYÂ GUPTA KANU,2040-02-10,M,NAWAL PRASAD GUPTA,333055/660|2063-12-09|Bara,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|46361|2079-06-...

In [ ]:
eval(lists).join(",")

In [20]:
df['BlackLists'] = df["BlackLists"].str.split(",")

In [26]:
lists = str(['Bank and Financial Institutions|5432|2071-01-21|CF|Guarantor', 'Bank and Financial Institutions|5432|2071-01-21|CF|Partner'])

In [28]:
eval('Bank and Financial Institutions|5432|2071-01-21|CF|Guarantor', 'Bank and Financial Institutions|5432|2071-01-21|CF|Partner').join(",")

TypeError: globals must be a real dict; try eval(expr, {}, mapping)

In [21]:
df

,Name,DOB,Gender,FatherName,CitizenshipDetails,PassportDetails,DrivingLicenseDetails,VoterIDDetails,PANDetails,IndianEmbassyDetails,BlackLists
0,BALRAM PRADHAN,2015-03-15,M,JITENDRA PRADHAN,2827|2046-01-11|Kathmandu,NaN,NaN,NaN,NaN,NaN,NaN
1,BHADRA BARAILI,2004-11-22,M,SAL BAHADUR BARAILI,2061/30387|2041-08-29|Sankhuwasabha,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|15073|2076-07...
2,SUDHA DEVI DARUKA,2030-01-01,F,SAWAR MAL RANGUTA,10523|2068-08-04|Parsa,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|14770|2076-06...
3,RAJESH RAJ VERMA,2030-08-22,M,KRISHNA RAJ VERMA,5237|2047-07-20|Saptari,NaN,NaN,NaN,NaN,NaN,NaN
4,NEELAM RIJAL,2029-05-21,F,TARAK PRASAD RIJAL,22961|2052-08-13|Morang,NaN,NaN,NaN,NaN,NaN,NaN
5,JIVAN GIRI,2036-01-29,M,RAM CHANDRA GIRI,2727/5942|2052-04-22|Morang,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|69325|2080-02...
6,JIVAN GIRI,2036-01-29,M,RAM CHANDRA GIRI,NaN,NaN,NaN,NaN,304598155|2067-12-09|Jhapa,NaN,[Bank and Financial Institutions|69325|2080-02...
7,KUMAR ROKKA CHHETRI,2031-02-29,M,BASANTA ROKKA CHHETRI,24557|2049-12-25|Makawanpur,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|68051|2080-02...
8,KUMAR ROKKA CHHETRI,2031-02-29,M,BASANTA ROKKA CHHETRI,24557|2049-12-25|Rasuwa,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|68051|2080-02...
9,KUMAR ROKKA CHHETRI,2031-02-29,M,BASANTA ROKKA CHHETRI,25447|2049-12-25|Makawanpur,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|68051|2080-02...
10,KUMAR ROKKA CHHETRI,2031-02-29,M,BASANTA ROKKA CHHETRI,25447|2049-12-25|Makawanpur,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|68051|2080-02...
11,KUMAR ROKKA CHHETRI,2031-02-29,M,BASANTA ROKKA CHHETRI,NaN,NaN,NaN,NaN,24557|2049-12-25|Rasuwa,NaN,[Bank and Financial Institutions|68051|2080-02...
12,MEENA DEVI TAMANG,2043-12-10,F,RAM BAHADUR TAMANG,422616|2061-12-16|Terhathum,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|11813|2075-09...
13,DHIRGHA BAHADUR THAPA,2036-08-13,M,DHAL BAHADUR THAPA,84984|2054-05-10|Sindhupalchowk,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|18818|2077-05...
14,RAJU SAPKOTA,2041-10-09,M,MUKTI BAHADUR SAPKOTA,301073/158370|2063-10-28|Kavre,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|59885|2079-12...
15,RAJESH KUMAR SHARMA,2028-05-22,M,BUDDHI PRASAD SHARMA,1/1078|2044-11-25|Morang,NaN,NaN,NaN,NaN,NaN,NaN
16,RADHIKA NEUPANE,2033-01-16,F,LABYA PRASAD DHUNGANA,243030/2|2063-10-05|Sindhupalchowk,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|7830|2073-09-...
17,NABIN DAHAL,2043-09-29,M,SHREE PRASAD DAHAL,13182|2060-03-13|Kathmandu,NaN,NaN,NaN,NaN,NaN,NaN
18,MADHAV ACHARYA,2027-01-29,M,BHOJ RAJ SHARMA,1332|2042-11-10|Pyuthan,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|65832|2080-02...
19,BIJAYÂ GUPTA KANU,2040-02-10,M,NAWAL PRASAD GUPTA,333055/660|2063-12-09|Bara,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|46361|2079-06...
20,DAMBAR BAHADUR SHRESTHA,2027-12-30,M,NAR BAHADUR SHRESTHA,2611/39647|2044-12-21|Sankhuwasabha,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|32562|2078-11...
21,LAXMI DHAKAL,2036-09-25,F,THIR BAHADUR DHAKAL,35381|2056-11-04|Dhading,NaN,NaN,NaN,NaN,NaN,NaN
22,DEEPAK ADHIKARI,2046-06-02,M,KRISHNA PRASAD ADHIKARI,167564|2063-02-02|Kaski,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|12007|2075-10...
23,SURESH SHRESTHA,2041-10-12,M,INDRA BAHADUR SHRESTHA,19/1361|2058-04-07|Makawanpur,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|56790|2079-10...
24,GITA KUMARI SHAHI,2046-10-01,F,RAM BAHADUR SHAHI,631033/75|2065-07-11|Dailekh,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df['BlackLists'] = df['BlackLists'].(lambda x : str(x).split(','))

In [13]:
df

,Name,DOB,Gender,FatherName,CitizenshipDetails,PassportDetails,DrivingLicenseDetails,VoterIDDetails,PANDetails,IndianEmbassyDetails,BlackLists
0,BALRAM PRADHAN,2015-03-15,M,JITENDRA PRADHAN,2827|2046-01-11|Kathmandu,NaN,NaN,NaN,NaN,NaN,[['Bank and Financial Institutions|5432|2071-0...
1,BHADRA BARAILI,2004-11-22,M,SAL BAHADUR BARAILI,2061/30387|2041-08-29|Sankhuwasabha,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|15073|2076-07...
2,SUDHA DEVI DARUKA,2030-01-01,F,SAWAR MAL RANGUTA,10523|2068-08-04|Parsa,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|14770|2076-06...
3,RAJESH RAJ VERMA,2030-08-22,M,KRISHNA RAJ VERMA,5237|2047-07-20|Saptari,NaN,NaN,NaN,NaN,NaN,[['Bank and Financial Institutions|13189|2076-...
4,NEELAM RIJAL,2029-05-21,F,TARAK PRASAD RIJAL,22961|2052-08-13|Morang,NaN,NaN,NaN,NaN,NaN,[['Bank and Financial Institutions|11812|2075-...
5,JIVAN GIRI,2036-01-29,M,RAM CHANDRA GIRI,2727/5942|2052-04-22|Morang,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|69325|2080-02...
6,JIVAN GIRI,2036-01-29,M,RAM CHANDRA GIRI,NaN,NaN,NaN,NaN,304598155|2067-12-09|Jhapa,NaN,[Bank and Financial Institutions|69325|2080-02...
7,KUMAR ROKKA CHHETRI,2031-02-29,M,BASANTA ROKKA CHHETRI,24557|2049-12-25|Makawanpur,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|68051|2080-02...
8,KUMAR ROKKA CHHETRI,2031-02-29,M,BASANTA ROKKA CHHETRI,24557|2049-12-25|Rasuwa,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|68051|2080-02...
9,KUMAR ROKKA CHHETRI,2031-02-29,M,BASANTA ROKKA CHHETRI,25447|2049-12-25|Makawanpur,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|68051|2080-02...
10,KUMAR ROKKA CHHETRI,2031-02-29,M,BASANTA ROKKA CHHETRI,25447|2049-12-25|Makawanpur,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|68051|2080-02...
11,KUMAR ROKKA CHHETRI,2031-02-29,M,BASANTA ROKKA CHHETRI,NaN,NaN,NaN,NaN,24557|2049-12-25|Rasuwa,NaN,[Bank and Financial Institutions|68051|2080-02...
12,MEENA DEVI TAMANG,2043-12-10,F,RAM BAHADUR TAMANG,422616|2061-12-16|Terhathum,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|11813|2075-09...
13,DHIRGHA BAHADUR THAPA,2036-08-13,M,DHAL BAHADUR THAPA,84984|2054-05-10|Sindhupalchowk,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|18818|2077-05...
14,RAJU SAPKOTA,2041-10-09,M,MUKTI BAHADUR SAPKOTA,301073/158370|2063-10-28|Kavre,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|59885|2079-12...
15,RAJESH KUMAR SHARMA,2028-05-22,M,BUDDHI PRASAD SHARMA,1/1078|2044-11-25|Morang,NaN,NaN,NaN,NaN,NaN,[['Bank and Financial Institutions|11812|2075-...
16,RADHIKA NEUPANE,2033-01-16,F,LABYA PRASAD DHUNGANA,243030/2|2063-10-05|Sindhupalchowk,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|7830|2073-09-...
17,NABIN DAHAL,2043-09-29,M,SHREE PRASAD DAHAL,13182|2060-03-13|Kathmandu,NaN,NaN,NaN,NaN,NaN,[['Bank and Financial Institutions|36594|2079-...
18,MADHAV ACHARYA,2027-01-29,M,BHOJ RAJ SHARMA,1332|2042-11-10|Pyuthan,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|65832|2080-02...
19,BIJAYÂ GUPTA KANU,2040-02-10,M,NAWAL PRASAD GUPTA,333055/660|2063-12-09|Bara,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|46361|2079-06...
20,DAMBAR BAHADUR SHRESTHA,2027-12-30,M,NAR BAHADUR SHRESTHA,2611/39647|2044-12-21|Sankhuwasabha,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|32562|2078-11...
21,LAXMI DHAKAL,2036-09-25,F,THIR BAHADUR DHAKAL,35381|2056-11-04|Dhading,NaN,NaN,NaN,NaN,NaN,[['Bank and Financial Institutions|20120|2077-...
22,DEEPAK ADHIKARI,2046-06-02,M,KRISHNA PRASAD ADHIKARI,167564|2063-02-02|Kaski,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|12007|2075-10...
23,SURESH SHRESTHA,2041-10-12,M,INDRA BAHADUR SHRESTHA,19/1361|2058-04-07|Makawanpur,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|56790|2079-10...
24,GITA KUMARI SHAHI,2046-10-01,F,RAM BAHADUR SHAHI,631033/75|2065-07-11|Dailekh,NaN,NaN,NaN,NaN,NaN,[['Bank and Financial Institutions|40998|2079-...

In [ ]:
for row,column in df.iterrows():
    print(f'')

In [25]:
df_f = df.bfill()

In [26]:
df_f.head()

,Name,DOB,Gender,FatherName,CitizenshipDetails,PassportDetails,DrivingLicenseDetails,VoterIDDetails,PANDetails,IndianEmbassyDetails,BlackLists
0,BALRAM PRADHAN,2015-03-15,M,JITENDRA PRADHAN,2827|2046-01-11|Kathmandu,NaN,NaN,NaN,304598155|2067-12-09|Jhapa,NaN,Bank and Financial Institutions|5432|2071-01-2...
1,BALRAM PRADHAN,2015-03-15,M,JITENDRA PRADHAN,2827|2046-01-11|Kathmandu,NaN,NaN,NaN,304598155|2067-12-09|Jhapa,NaN,Bank and Financial Institutions|5432|2071-01-2...
2,BALRAM PRADHAN,2015-03-15,M,JITENDRA PRADHAN,2827|2046-01-11|Kathmandu,NaN,NaN,NaN,304598155|2067-12-09|Jhapa,NaN,Bank and Financial Institutions|5432|2071-01-2...
3,BHADRA BARAILI,2004-11-22,M,SAL BAHADUR BARAILI,2061/30387|2041-08-29|Sankhuwasabha,NaN,NaN,NaN,304598155|2067-12-09|Jhapa,NaN,Bank and Financial Institutions|15073|2076-07-...
4,SUDHA DEVI DARUKA,2030-01-01,F,SAWAR MAL RANGUTA,10523|2068-08-04|Parsa,NaN,NaN,NaN,304598155|2067-12-09|Jhapa,NaN,Bank and Financial Institutions|14770|2076-06-...

In [9]:
df.drop(columns=['BlackLists'],inplace=True)

In [10]:
duplicated = df[df.duplicated()]

In [11]:
duplicated

,Name,DOB,Gender,FatherName,CitizenshipDetails,PassportDetails,DrivingLicenseDetails,VoterIDDetails,PANDetails,IndianEmbassyDetails
10,KUMAR ROKKA CHHETRI,2031-02-29,M,BASANTA ROKKA CHHETRI,25447|2049-12-25|Makawanpur,NaN,NaN,NaN,NaN,NaN

In [16]:
import pandas as pd
import numpy as np

# Creating a DataFrame with missing values
data = {'A': [1, np.nan, 3, np.nan, 5],
        'B': [np.nan, 2, np.nan, 4, np.nan]}
df = pd.DataFrame(data)

# Using ffill to fill missing values with the previous non-null value
df_ffill = df.ffill()

# print("DataFrame after forward fill:")
# print(df_ffill)

In [17]:
df_ffill

     A    B
0  1.0  NaN
1  1.0  2.0
2  3.0  2.0
3  3.0  4.0
4  5.0  4.0

In [18]:
df

     A    B
0  1.0  NaN
1  NaN  2.0
2  3.0  NaN
3  NaN  4.0
4  5.0  NaN

In [19]:
df_bfill = df.bfill()

In [20]:
df_bfill

     A    B
0  1.0  2.0
1  3.0  2.0
2  3.0  4.0
3  5.0  4.0
4  5.0  NaN

In [113]:
df.count()

Name                     7
DOB                      7
Gender                   7
FatherName               7
CitizenshipDetails       7
PassportDetails          0
DrivingLicenseDetails    0
VoterIDDetails           0
PANDetails               2
CompanyDetails           0
IndianEmbassyDetails     0
BlackLists               7
dtype: int64

In [107]:
df.head(10)

,Name,DOB,Gender,FatherName,CitizenshipDetails,PassportDetails,DrivingLicenseDetails,VoterIDDetails,PANDetails,CompanyDetails,IndianEmbassyDetails,BlackLists
0,BALRAM PRADHAN,2015-03-15,M,JITENDRA PRADHAN,2827|2046-01-11|Kathmandu,NaN,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|5432|2071-01-...
1,BHADRA BARAILI,2004-11-22,M,SAL BAHADUR BARAILI,2061/30387|2041-08-29|Sankhuwasabha,NaN,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|15073|2076-07-...
2,SUDHA DEVI DARUKA,2030-01-01,F,SAWAR MAL RANGUTA,10523|2068-08-04|Parsa,NaN,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|14770|2076-06-...
3,RAJESH RAJ VERMA,2030-08-22,M,KRISHNA RAJ VERMA,5237|2047-07-20|Saptari,NaN,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|13189|2076-03...
4,NEELAM RIJAL,2029-05-21,F,TARAK PRASAD RIJAL,22961|2052-08-13|Morang,NaN,NaN,NaN,NaN,NaN,NaN,[Bank and Financial Institutions|11812|2075-09...
5,JIVAN GIRI,2036-01-29,M,RAM CHANDRA GIRI,2727/5942|2052-04-22|Morang,NaN,NaN,NaN,304598155|2067-12-09|Jhapa,NaN,NaN,Bank and Financial Institutions|69325|2080-02-...
6,KUMAR ROKKA CHHETRI,2031-02-29,M,BASANTA ROKKA CHHETRI,"[24557|2049-12-25|Makawanpur, 24557|2049-12-25...",NaN,NaN,NaN,24557|2049-12-25|Rasuwa,NaN,NaN,Bank and Financial Institutions|68051|2080-02-...

In [115]:
import numpy as np
def drop_dupicates(df):
    both_present = df[(~df['CitizenshipDetails'].isnull()) & (~df['PANDetails'].isnull())]
    # both_present
    duplicated_rows = both_present.copy()
    # duplicated_rows
    both_present_indices = both_present.index 

    df.drop(index=both_present_indices, inplace=True)
    for index, row in both_present.iterrows():
        both_present.at[index, 'CitizenshipDetails'] = np.nan

    for index, row in duplicated_rows.iterrows():
        duplicated_rows.at[index, 'PANDetails'] = np.nan

    df = pd.concat([df, both_present, duplicated_rows], ignore_index=True)
    return df
data_df = drop_dupicates(df)

In [117]:
df.count()

Name                     24
DOB                      24
Gender                   24
FatherName               24
CitizenshipDetails       24
PassportDetails           0
DrivingLicenseDetails     0
VoterIDDetails            1
PANDetails                0
CompanyDetails            0
IndianEmbassyDetails      0
BlackLists               24
dtype: int64

In [92]:
data =    {
                    "Name": "JIVAN GIRI",
                    "DOB": "2036-01-29",
                    "Gender": "M",
                    "FatherName": "RAM CHANDRA GIRI",
                    "CitizenshipDetails": {
                        "CitizenshipCount": "1",
                        "Citizenship": {
                            "CitizenshipNumber": "2727/5942",
                            "CitizenshipIssuedDate": "2052-04-22",
                            "CitizenshipIssuedDistrict": "Morang"
                        }
                    },
                    "PassportDetails": {
                        "PassportCount": "0"
                    },
                    "DrivingLicenseDetails": {
                        "DrivingLicenseCount": "0"
                    },
                    "VoterIDDetails": {
                        "VoterIdCount": "0"
                    },
                    "PANDetails": {
                        "PANCount": "1",
                        "PAN": {
                            "PAN": "304598155",
                            "PANIssuedDate": "2067-12-09",
                            "PANIssuedDistrict": "Jhapa"
                        }
                    },
                    "IndianEmbassyDetails": {
                        "IndianEmbassyCount": "0"
                    },
                    "BlackLists": {
                        "BlackListCount": "1",
                        "BlackList": {
                            "Sector": "Bank and Financial Institutions",
                            "BlacklistNumber": "69325",
                            "BlacklistedDate": "2080-02-29",
                            "BlacklistType": "CF",
                            "NatureOfRelation": "Guarantor"
                        }
                    }
                }

In [98]:
dicts = {}
df = pd.DataFrame(columns=[
        'Name',
        'DOB', 
        'Gender', 
        'FatherName', 
        'CitizenshipDetails', 
        'PassportDetails', 
        'DrivingLicenseDetails',
        'VoterIDDetails',
        'PANDetails', 
        'CompanyDetails',
        'IndianEmbassyDetails',
        'BlackLists' 
    ])
        
dicts = {}
data_keys = list(data.keys())
# print(data_keys)
for data_key in data_keys:
    # print(data_key)
    if isinstance(data[data_key], str):
        dicts[data_key] = data[data_key]
        print(dicts[data_key])
    
    else:
        # maintain Citizenship details and black list detail
        keys = list(data[data_key].keys())
        data_count = int(data[data_key][keys[0]])
        # print('DATA_COUNT',data_count)
        if data_count > 1: #here data with data_count greater than 1 will come in list format
            details = data[data_key][keys[1]]
            # if details contain 
            print('DETAILS',details)
            dicts[data_key] = ['|'.join(entry.values()) for entry in details] 
            print(dicts[data_key])
            df.loc[len(df)] = dicts
            
        elif data_count == 0:
            dicts[data_key] =''
            continue
        else:
            details = data[data_key][keys[1]]
            # if 'CitizenshipNumber' in details:
        
            # print('next detail',details)
            dicts[data_key] = '|'.join(details.values())
            print('else==>',dicts[data_key])
            df.loc[len(df)] = dicts

# df.loc[len(df)] = dicts

JIVAN GIRI
2036-01-29
M
RAM CHANDRA GIRI
else==> 2727/5942|2052-04-22|Morang
else==> 304598155|2067-12-09|Jhapa
else==> Bank and Financial Institutions|69325|2080-02-29|CF|Guarantor

In [9]:
import json
import pandas as pd

file = open(r"D:\BOT_Prime\CIB_DELTA_back\output\data (1).json")
datas = json.load(file)
df = pd.DataFrame(columns=[
        'Name',
        'DOB', 
        'Gender', 
        'FatherName', 
        'CitizenshipDetails', 
        'PassportDetails', 
        'DrivingLicenseDetails',
        'VoterIDDetails',
        'PANDetails', 
        'CompanyDetails',
        'IndianEmbassyDetails',
        'BlackLists' 
    ])

num = 0
for data in datas["BulkOffLoading"]["Institutions"]["Item"]:
    # print(data)
    # data = 
    data_list = []
    dicts = {}
    data_keys = list(data.keys())
    # print(data_keys)
    for data_key in data_keys[:1]:
        dicts[data_key] = data[data_key]
        # print(dicts)
    for data_key in sorted(data_keys[1:]):
        # print(data_key)
        # print(data[data_key])
        keys = list(data[data_key].keys())
        # print('key------------',keys)
        data_count = int(data[data_key][keys[0]])
        if data_count > 1:
            details = data[data_key][keys[1]]
            # print('detail',details)
            if "BlackList" in data_key:
                dicts[data_key] = ['|'.join(detail.values()) for detail in details]
                # print(dicts)
                continue
            else:  
                for detail in details:
                    dicts[data_key] = '|'.join(detail.values())
                    # print('detttttttttttttttt',dicts[data_key])
                    # print('COUNT GREATER THAN 1',dicts)
                    df.loc[len(df)] = dicts
        elif data_count == 0:
            continue
        else:
            details = data[data_key][keys[1]]
            # print('DETAIL',details)
            dicts[data_key] = '|'.join(details.values())
            df.loc[len(df)] = dicts
            # print(dicts)
        # if "PANDetails" not in data_key:
        #     df.loc[len(df)] = dicts
        #     # print('================',dicts[data_key])
        #     # print('================',dicts)
        #     del dicts[data_key]
            # print('TTTTTTTTTTt================',dicts)
    df.loc[len(df)] = dicts
    num += 1
    if num == 60:
        break
    # df.to_excel('black_institutional.xlsx',index=False)

JSONDecodeError: Expecting value: line 5 column 22 (char 103)

In [11]:
# df.to_excel('bl.xlsx',index=False)

In [2]:
# df.head(30)
df.tail(20)

,Name,DOB,Gender,FatherName,CitizenshipDetails,PassportDetails,DrivingLicenseDetails,VoterIDDetails,PANDetails,CompanyDetails,IndianEmbassyDetails,BlackLists
56,EASY MADE SERVICES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,607640128|2074-12-07|Gorakha,2365/074/075|NULL|Department of Commerce,NaN,Bank and Financial Institutions|32520|2078-11-...
57,BHAGYAMANI CONSTRUCTION,NaN,NaN,NaN,NaN,NaN,NaN,NaN,601377237|2070-05-17|Kathmandu,115481/070/071|NULL|Office Of Company Registrar,NaN,Bank and Financial Institutions|32524|2078-11-...
58,MEDICHEM PHARMA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,603196346|2072-02-05|Morang,4588|NULL|Department of Drug Administration,NaN,Bank and Financial Institutions|32564|2078-11-...
59,SHASKAR AND SASKRITI CONSTRUCTION PVT.LTD.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,610007356|2078-02-11|Ramechhap,263045/77/078|NULL|Office Of Company Registrar,NaN,[Bank and Financial Institutions|47930|2079-07...
60,ZARASOFT NEPAL PVT LTD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,603408151|2072-05-15|Kathmandu,107826/069/070|NULL|Office Of Company Registrar,NaN,Bank and Financial Institutions|32596|2078-11-...
61,NEW CHAURASIYA SUPPLIERS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,607392371|2074-10-05|Rupandehi,41396/074|NULL|Department of Commerce,NaN,Bank and Financial Institutions|32602|2078-11-...
62,SHREE BAGESHWORI SUPPLIERS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,614937682|2077-10-13|Rupandehi,49610/077/78|NULL|Department of commerce and S...,NaN,Bank and Financial Institutions|32615|2078-11-...
63,NATIONAL RESEARCH AND DEVELOPMENT CREATION PVT...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,609528666|2076-01-27|Kathmandu,214490/75/076|NULL|Office Of Company Registrar,NaN,Bank and Financial Institutions|32616|2078-11-...
64,MIRA CONSTRUCTION,NaN,NaN,NaN,NaN,NaN,NaN,NaN,604310404|2074-10-26|Kathmandu,154378/073/074|NULL|Office Of Company Registrar,NaN,Bank and Financial Institutions|32617|2078-11-...
65,NEW SIDDHABABA TRADING,NaN,NaN,NaN,NaN,NaN,NaN,NaN,603441811|2072-05-28|Kathmandu,115673/070/71|NULL|Department of Industry,NaN,Bank and Financial Institutions|67345|2080-02-...
66,MILAN SWEET HOUSE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,603027705|2071-11-11|Morang,6464/074/075|NULL|Office of Cottage and Small ...,NaN,Bank and Financial Institutions|32498|2078-11-...
67,ORIGANO AGRICULTURE FARM HOUSE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,609799666|2077-04-15|Sarlahi,9178/077/078|NULL|Office of Cottage and Small ...,NaN,Bank and Financial Institutions|32517|2078-11-...
68,LAXMI SAGARMATHA UDYOG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,607315424|2074-09-13|Saptari,193/2870/066/67|NULL|Municipality Office,NaN,Bank and Financial Institutions|32518|2078-11-...
69,B AND R SMRITI FALFUL TATHA PASHUPANCHI FIRM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,611564665|2076-05-05|Kailali,1436/076/077|NULL|Office of Cottage and Small ...,NaN,Bank and Financial Institutions|32521|2078-11-...
70,SHREE NEXT ELECTRONICS CENTER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,607618718|2074-12-01|Lalitpur,140466/074/75|NULL|Department of Commerce,NaN,Bank and Financial Institutions|32527|2078-11-...
71,UNIQUE DESIGN HOUSE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,604134699|2073-01-31|Kaski,11629/072/073|NULL|Office of Cottage and Small...,NaN,Bank and Financial Institutions|32531|2078-11-...
72,MACHHAPUCHRE PHARMACY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,613365581|2077-04-07|Rupandehi,3751003082345/|NULL|Department of Drug Adminis...,NaN,Bank and Financial Institutions|32589|2078-11-...
73,LAL SUBA MENDRO NIRMAN SEWA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,606064048|2074-01-06|Ramechhap,1596/070/071|NULL|Office of Cottage and Small ...,NaN,Bank and Financial Institutions|32595|2078-11-...
74,MIRA CONSTRUCTION,NaN,NaN,NaN,NaN,NaN,NaN,NaN,604310404|2074-10-26|Kathmandu,154378/073/074|NULL|Office Of Company Registrar,NaN,Bank and Financial Institutions|32607|2078-11-...
75,JAYABHAWANI BASTRALAYA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,600122554|2067-11-09|Kathmandu,12265/064/65|NULL|Department of commerce and S...,NaN,Bank and Financial Institutions|32680|2078-11-...

In [1]:
# df.head(50)

In [105]:
df

,Name,DOB,Gender,FatherName,CitizenshipDetails,PassportDetails,DrivingLicenseDetails,VoterIDDetails,PANDetails,CompanyDetails,IndianEmbassyDetails,BlackLists
0,KOHINOOR SUPPLIERS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1872/069/070|NULL|Department of Commerce,NaN,[Bank and Financial Institutions|45442|2079-06...
1,KOHINOOR SUPPLIERS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1872/069/070|NULL|Office of Cottage and Small ...,NaN,[Bank and Financial Institutions|45442|2079-06...

In [92]:
import pandas as pd

df = pd.DataFrame(columns=[
        'Name',
        'DOB', 
        'Gender', 
        'FatherName', 
        'CitizenshipDetails', 
        'PassportDetails', 
        'DrivingLicenseDetails',
        'VoterIDDetails',
        'PANDetails', 
        'CompanyDetails',
        'IndianEmbassyDetails',
        'BlackLists' 
    ])
    
data = {
                    "Name": "KOHINOOR SUPPLIERS",
                    "PANDetails": {
                        "PANCount": "1",
                        "PAN": {
                            "PAN": "600534811",
                            "PANIssuedDate": "2069-01-20",
                            "PANIssuedDistrict": "Sunasari"
                        }
                    },
                    "CompanyDetails": {
                        "CompanyCount": "2",
                        "Company": [
                            {
                                "CompanyRegNumber": "1872/069/070",
                                "CompanyRegDate": "NULL",
                                "CompanyRegAuth": "Department of Commerce"
                            },
                            {
                                "CompanyRegNumber": "1872/069/070",
                                "CompanyRegDate": "NULL",
                                "CompanyRegAuth": "Office of Cottage and Small Industry"
                            }
                        ]
                    },
                    "BlackLists": {
                        "BlackListCount": "3",
                        "BlackList": [
                            {
                                "Sector": "Bank and Financial Institutions",
                                "BlacklistNumber": "45442",
                                "BlacklistedDate": "2079-06-05",
                                "BlacklistType": "NON CF",
                                "NatureOfRelation": "Borrower"
                            },
                            {
                                "Sector": "Bank and Financial Institutions",
                                "BlacklistNumber": "32402",
                                "BlacklistedDate": "2078-11-12",
                                "BlacklistType": "NON CF",
                                "NatureOfRelation": "Borrower"
                            },
                            {
                                "Sector": "Bank and Financial Institutions",
                                "BlacklistNumber": "33589",
                                "BlacklistedDate": "2078-12-10",
                                "BlacklistType": "NON CF",
                                "NatureOfRelation": "Borrower"
                            }
                        ]
                    }
                }
for key, value in data.items():
    if key == "CompanyDetails":
        for company in value['Company']:
            row_data = {
                "Name": data["Name"],
                "PANDetails": '|'.join(data["PANDetails"]["PAN"].values()),
                "CompanyDetails": '|'.join(company.values()),
                "BlackLists": '|'.join(blacklist.values())  # Assuming blacklist is defined somewhere
            }
            df = df.append(row_data, ignore_index=True)
    else:
        # Handle other keys in a similar way if needed
        pass

# print(df)

NameError: name 'blacklist' is not defined

In [1]:
import pandas as pd
from openpyxl import Workbook 
from openpyxl.worksheet.datavalidation import DataValidation

# Sample data for the DataFrame
data = {
    'Name': ['John', 'Alice', 'Bob'],
    'Father_Name': ['Doe', 'Smith', 'Johnson'],
    'Gender': ['Male', 'Female', 'Male']
}

# Create a DataFrame from the data
df = pd.DataFrame(data)

# Create a new Excel writer object
excel_writer = pd.ExcelWriter('output.xlsx', engine='openpyxl')

# Write the DataFrame to Excel
df.to_excel(excel_writer, index=False, sheet_name='Sheet1')

# Get the workbook and worksheet objects
workbook = excel_writer.book
worksheet = excel_writer.sheets['Sheet1']

# Define the list of options for the dropdown
gender_options = ['Male', 'Female']

# Define the range where the dropdown will be applied (assuming Gender column starts from column C)
dropdown_range = 'C2:C{}'.format(len(df) + 1)

# Create a DataValidation object for the dropdown
data_validation = DataValidation(type="list", formula1='"{}"'.format(','.join(gender_options)), allow_blank=True)

# Add the data validation to the specific column
worksheet.add_data_validation(data_validation)
data_validation.add(dropdown_range)

# Save the Excel file
excel_writer.save()

print("Dropdown list added to the 'Gender' column in the Excel file.")

Dropdown list added to the 'Gender' column in the Excel file.

In [3]:
import pandas as pd
from openpyxl import Workbook
from openpyxl.worksheet.datavalidation import DataValidation

# Sample data
data = {
    'Account Name': 'Sabin Lamichhanne',
    'name_percent': '20.0',
    'CBS Father name': 'kabin lamichhane',
    'Date of birth': '2056',
    'nepdate_percent': '',
    'CBS citizenship': '',
    'citizenship_percent': '',
    'similarity': '',
    'Customer Id': '',
    'Clientstatus': '',
    'dlicenceidno': '',
    'indianembassyregno': '',
    'passportno': '',
    'pannumber': '',
    'regnum': '',
    'Result of Cib Screening': '',
    'Cib name': 'sabin lamichhane',
    'Cib father name': 'kabin lamichhane',
    'cib gender': 'm',
    'cib dob': '2056-04-07',
    'cib citizenship no': '948474664',
    'Blacklisted no': '12345',
    'Blacklisted date': '',
    'account Number': '09877654',
    'branchcode': '220',
    'Current Status': 'debit restrict'
}

# Convert data to a DataFrame
df = pd.DataFrame([data])

# Create a new Excel writer object
excel_writer = pd.ExcelWriter('out.xlsx', engine='openpyxl')

# Write the DataFrame to Excel
df.to_excel(excel_writer, index=False, sheet_name='Sheet1')

# Get the workbook and worksheet objects
workbook = excel_writer.book
worksheet = excel_writer.sheets['Sheet1']

# Define the dropdown options
dropdown_options = ['Matched Find in CIB Black List', 'Not matched Black List in CIB']

# Define the range where the dropdown will be applied (assuming 'Result of Cib Screening' column is in column O)
dropdown_range = 'P2:P{}'.format(len(df) + 1)

# Create a DataValidation object for the dropdown
data_validation = DataValidation(type="list", formula1='"{}"'.format(','.join(dropdown_options)), allow_blank=True)

# Add the data validation to the specific column
worksheet.add_data_validation(data_validation)
data_validation.add(dropdown_range)

# Save the Excel file
excel_writer.save()

print("Dropdown list added to the 'Result of Cib Screening' column in the Excel file.")

Dropdown list added to the 'Result of Cib Screening' column in the Excel file.

In [3]:
import pandas as pd
from openpyxl import Workbook
from openpyxl.worksheet.datavalidation import DataValidation

# Sample data
data = {
    'CBS Account Name': 'Sabin Lamichhanne',
    'name_percent': '20.0',
    'CBS Father name': 'kabin lamichhane',
    'CBS Date of birth': '2056',
    'nepdate_percent': '',
    'CBS citizenship': '',
    'citizenship_percent': '',
    'similarity': '',
    'CBS Customer Id': '',
    'CBS Clientstatus': '',
    'CBS dlicenceidno': '',
    'CBS indianembassyregno': '',
    'CBS passportno': '',
    'CBS pannumber': '',
    'CBS regnum': '',
    'CBS Result of Cib Screening': '',  # 'Result of Cib Screening' column in the DataFrame
    'Cib name': 'sabin lamichhane',
    'Cib father name': 'kabin lamichhane',
    'cib gender': 'm',
    'cib dob': '2056-04-07',
    'cib citizenship no': '948474664',
    'CIB Blacklisted no': '12345',
    'CIB Blacklisted date': '',
    'CBS account Number': '09877654',
    'CBS branchcode': '220',
    'CBS Current Status': 'debit restrict'
}

# Convert data to a DataFrame
df = pd.DataFrame([data])

# Sort the column names alphabetically
sorted_columns = sorted(df.columns)

# Create a new DataFrame with sorted columns
df_sorted = df[sorted_columns]

# Create a new Excel writer object
excel_writer = pd.ExcelWriter('outtttt.xlsx', engine='openpyxl')

# Write the sorted DataFrame to Excel
df_sorted.to_excel(excel_writer, index=False, sheet_name='Sheet1')

# Get the workbook and worksheet objects
workbook = excel_writer.book
worksheet = excel_writer.sheets['Sheet1']

# Define the dropdown options
dropdown_options = ['Matched Find in CIB Black List', 'Not matched Black List in CIB']

# Define the range where the dropdown will be applied (column 'O' for 'Result of Cib Screening')
dropdown_range = 'O2:O{}'.format(len(df) + 1)

# Create a DataValidation object for the dropdown
data_validation = DataValidation(type="list", formula1='"{}"'.format(','.join(dropdown_options)), allow_blank=True)

# Add the data validation to the specific column
worksheet.add_data_validation(data_validation)
data_validation.add(dropdown_range)

# Save the Excel file
excel_writer.save()

print("Dropdown list added to the 'Result of Cib Screening' column in the Excel file.")

Dropdown list added to the 'Result of Cib Screening' column in the Excel file.

In [4]:
import pandas as pd
from openpyxl import Workbook
from openpyxl.styles import Font
from openpyxl.worksheet.datavalidation import DataValidation

# Sample data
data = {
    'Account Name': 'Sabin Lamichhanne',
    'name_percent': '20.0',
    'CBS Father name': 'kabin lamichhane',
    'Date of birth': '2056',
    'nepdate_percent': '',
    'CBS citizenship': '',
    'citizenship_percent': '',
    'similarity': '',
    'Customer Id': '',
    'Clientstatus': '',
    'dlicenceidno': '',
    'indianembassyregno': '',
    'passportno': '',
    'pannumber': '',
    'regnum': '',
    'Result of Cib Screening': '',  # 'Result of Cib Screening' column in the DataFrame
    'Cib name': 'sabin lamichhane',
    'Cib father name': 'kabin lamichhane',
    'cib gender': 'm',
    'cib dob': '2056-04-07',
    'cib citizenship no': '948474664',
    'Blacklisted no': '12345',
    'Blacklisted date': '',
    'account Number': '09877654',
    'branchcode': '220',
    'Current Status': 'debit restrict'
}

# Convert data to a DataFrame
df = pd.DataFrame([data])

# Sort the column names alphabetically
sorted_columns = sorted(df.columns)

# Create a new DataFrame with sorted columns
df_sorted = df[sorted_columns]

# Create a new Excel writer object
excel_writer = pd.ExcelWriter('out.xlsx', engine='openpyxl')

# Write the sorted DataFrame to Excel
df_sorted.to_excel(excel_writer, index=False, sheet_name='Sheet1')

# Get the workbook and worksheet objects
workbook = excel_writer.book
worksheet = excel_writer.sheets['Sheet1']

# Define the dropdown options
dropdown_options = ['Matched Find in CIB Black List', 'Not matched Black List in CIB']

# Define the range where the dropdown will be applied (column 'O' for 'Result of Cib Screening')
dropdown_range = 'O2:O{}'.format(len(df) + 1)

# Create a DataValidation object for the dropdown
data_validation = DataValidation(type="list", formula1='"{}"'.format(','.join(dropdown_options)), allow_blank=True)

# Add the data validation to the specific column
worksheet.add_data_validation(data_validation)
data_validation.add(dropdown_range)

# Bold the header cell of 'Result of Cib Screening' column (assuming 'O1' is the header cell)
worksheet['O1'].font = Font(bold=True)

# Save the Excel file
excel_writer.save()

print("Dropdown list added to the 'Result of Cib Screening' column in the Excel file, and the header cell is bolded.")

Dropdown list added to the 'Result of Cib Screening' column in the Excel file, and the header cell is bolded.

In [5]:
import pandas as pd
import ast

# Sample data with 'Name', 'DOB', 'Father_Name', 'CitizenshipDetail', and 'BlackLists' columns
data = {
    'Name': ['John', 'Alice'],
    'DOB': ['1990-05-15', '1985-10-03'],
    'Father_Name': ['Michael', 'Bob'],
    'CitizenshipDetail': ['12345', '67890'],
    'BlackLists': [
        "['Bank and Financial Institutions|5432|2071-01-21|CF|Guarantor', 'Bank and Financial Institutions|5432|2071-01-21|CF|Partner']",
        "'Bank and Financial Institutions|15073|2076-07-18|CF|Guarantor'"
    ]
}

# Creating a DataFrame from the sample data
df = pd.DataFrame(data)

Function to extract list values from the 'BlackLists' column
def extract_list_values(blacklists):
    try:
        # Using ast.literal_eval to safely evaluate the string as a Python literal
        lists = ast.literal_eval(blacklists)
        return lists
    except (SyntaxError, ValueError):
        # If the literal_eval fails, return an empty list
        return []

# Extracting list values and splitting them into separate columns
df['BlackLists'] = df['BlackLists'].apply(extract_list_values)
df[['BlackList1', 'BlackList2']] = pd.DataFrame(df['BlackLists'].tolist(), index=df.index)

# # Reorganizing the columns to match the desired output
# result_df = df[['Name', 'DOB', 'Father_Name', 'CitizenshipDetail', 'BlackList1', 'BlackList2']]

# # Printing the result
# print(result_df)

SyntaxError: invalid syntax (729169740.py, line 19)

In [4]:
df

,Name,DOB,Father_Name,CitizenshipDetail,BlackLists
0,John,1990-05-15,Michael,12345,['Bank and Financial Institutions|5432|2071-01...
1,Alice,1985-10-03,Bob,67890,'Bank and Financial Institutions|15073|2076-07...