In [13]:
import Levenshtein
import pandas as pd
import ast

In [3]:
import pandas as pd
import Levenshtein

# Sample data for incremental_df and client_table_df
# Assuming you have these DataFrames with 'Name' and 'Father_Name' columns
incremental_df = pd.DataFrame({'Name': ['John', 'Alice', 'Bob'],
                               'Father_Name': ['Michael', 'David', 'Robert']})

client_table_df = pd.DataFrame({'Name': ['Jon', 'Alicia', 'Bobby'],
                                'Father_Name': ['Mike', 'Dave', 'Rob']})

# Function to calculate Levenshtein distance between two strings
def calculate_similarity(str1, str2):
    return Levenshtein.distance(str1, str2)

# Calculate weights for 'Name' column
incremental_df['Weightage_of_Name'] = incremental_df['Name'].apply(lambda x: min([calculate_similarity(x, name) for name in client_table_df['Name']]))

# Calculate weights for 'Father_Name' column
incremental_df['Weightage_of_Father_Name'] = incremental_df['Father_Name'].apply(lambda x: min([calculate_similarity(x, fname) for fname in client_table_df['Father_Name']]))

# Print the updated DataFrame with weightage columns
print(incremental_df)

    Name Father_Name  Weightage_of_Name  Weightage_of_Father_Name
0   John     Michael                  1                         4
1  Alice       David                  2                         2
2    Bob      Robert                  2                         3

In [4]:
import pandas as pd
import Levenshtein

# Sample data for incremental_df and client_table_df
# Assuming you have these DataFrames with 'Name' and 'Father_Name' columns
incremental_df = pd.DataFrame({'Name': ['John', 'Alice', 'Bob'],
                               'Father_Name': ['Michael', 'David', 'Robert']})

client_table_df = pd.DataFrame({'Name': ['Jon', 'Alicia', 'Bobby'],
                                'Father_Name': ['Mike', 'Dave', 'Rob']})

# Function to calculate similarity ratio using Levenshtein distance
def calculate_similarity(str1, str2):
    distance = Levenshtein.distance(str1, str2)
    max_length = max(len(str1), len(str2))
    similarity_ratio = 1 - (distance / max_length)
    return similarity_ratio * 100  # Convert to percentage

# Calculate weights for 'Name' column as percentage
incremental_df['Weightage_of_Name'] = incremental_df['Name'].apply(lambda x: min([calculate_similarity(x, name) for name in client_table_df['Name']]))

# Calculate weights for 'Father_Name' column as percentage
incremental_df['Weightage_of_Father_Name'] = incremental_df['Father_Name'].apply(lambda x: min([calculate_similarity(x, fname) for fname in client_table_df['Father_Name']]))

# Print the updated DataFrame with weightage columns as percentage
print(incremental_df)
Name = incremental_df['Name']

    Name Father_Name  Weightage_of_Name  Weightage_of_Father_Name
0   John     Michael                0.0                  0.000000
1  Alice       David                0.0                  0.000000
2    Bob      Robert                0.0                 16.666667

In [39]:
incremental_df = pd.read_excel(r'D:\BOT_Prime\CIB_DELTA_back\output\incremental_data.xlsx')

In [40]:
incremental_df.head()

,Name,DOB,Gender,FatherName,CitizenshipDetails,PassportDetails,DrivingLicenseDetails,VoterIDDetails,PANDetails,CompanyDetails,IndianEmbassyDetails,BlackLists
0,OM PRASAD DHAKAL,2045-12-01,M,DEVI PRASAD DHAKAL,134897|2061-11-19|Kavre,NaN,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|85672|2080-06-...
1,RAM KUMAR CHAUDHARY,2042-01-29,M,DHURAN CHAUDHARY,93364/94364|2061-09-26|Sunasari,NaN,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|85711|2080-06-...
2,RAHUL KUMAR SINGH,2052-05-15,M,LAXMI PRASAD SINGH,18-1-061/566|2068-09-19|Mahotari,NaN,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|85606|2080-06-...
3,CHANDRA MAYA B.K.,2018-06-07,F,SANTA BAHADUR THAPA,"['112|2046-03-23|Chitawan', '112|2046-03-23|Sa...",NaN,NaN,NaN,NaN,NaN,NaN,['Bank and Financial Institutions|85985|2080-0...
4,DIPAK BISHWAKARMA,2043-02-02,M,SAMSHER BAHADUR BISHWAKARMA,"['12611|2063-02-10|Bhojpur', '12611|2073-02-09...",NaN,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|85689|2080-06-...

In [41]:
import ast
incremental_df['CitizenshipDetails'].notnull()
# Iterate through the 'CitizenshipDetails' column
for index, item in incremental_df['CitizenshipDetails'].items():
    item = str(item)
    
    # Check if item contains commas
    if ',' in item:
        citizen_list = ast.literal_eval(item)
        if isinstance(citizen_list, list):
            for data in citizen_list:
                # Check if '|' exists before splitting
                if '|' in data:
                    citizen_number = data.split('|')[1]
                    incremental_df.at[index, 'CitizenshipNumber'] = citizen_number
                else:
                    print(f"Invalid format in item: {data}")
    else:
        # Check if '|' exists before splitting
        if '|' in item:
            citizen_number = item.split('|')[1]
            print(citizen_number)
            incremental_df.at[index, 'CitizenshipNumber'] = citizen_number
        else:
            print(f"Invalid format in item: {item}")

2061-11-19
2061-09-26
2068-09-19
2054-10-13
2055-09-02
2060-06-27
2051-05-06
2057-10-20
2058-10-17
2068-11-04
2067-09-08
2056-05-01
2065-07-28
2066-12-12
2063-12-02
2040-08-04
2038-07-25
2066-12-27
2043-04-16
2049-05-28
2054-07-24
2077-11-21
2064-12-14
2067-09-05
2058-12-12
2064-11-19
2051-11-12
2064-03-31
2074-06-02
2071-02-02
2066-05-24
2043-06-08
2074-12-04
2062-12-21
2071-10-04
2062-03-29
2075-02-07
2068-06-01
2062-08-20
2063-11-05
2045-02-06
2041-07-23
2062-04-11
2060-08-29
2056-03-31
2038-08-18
2058-10-11
2073-11-03
2049-10-12
2065-08-15
2064-03-05
2055-05-29
2058-02-08
2044-12-19
2063-02-17
2056-07-30
2067-07-18
2072-02-10
2068-06-22
2061-12-11
2063-10-07
2060-03-05
2060-08-25
2043-03-16
2042-12-22
2042-12-22
2069-06-09
2064-01-21
2074-01-21
2075-01-10
2070-10-07
2070-04-10
2057-02-32
2058-05-25
2064-08-07
2067-08-28
2067-03-24
2064-12-14
2077-12-12
2046-03-06
2052-03-32
2063-02-15
2064-03-05
2067-01-03
2066-09-29
2074-06-25
2067-02-14
2061-08-03
2054-04-01
2064-03-19
2060-01-17
2041-02-24
2074-05-30
2055-09-13
2046-02-02
2071-11-01
2061-10-05
2049-03-02
2044-11-15
2068-09-26
2063-12-15
2076-01-17
2060-09-08
2050-11-23
2071-08-07
2076-06-14
2065-12-16
2068-04-22
2068-06-05
2044-12-03
2069-11-21
2060-04-13
2066-04-08
2070-08-11
2069-10-23
2061-04-30
2069-08-12
2065-12-12
2045-01-15
2063-10-22
2067-10-09
2045-08-05
2045-01-04
2061-08-15
2059-02-26
2044-11-15
2072-12-03
2070-02-20
2042-11-10
2044-03-04
2058-02-02
2066-07-22
2052-11-18
2051-10-13
2071-12-09
2063-10-24
2046-03-09
2055-01-08
2068-03-19
2045-02-02
2057-08-08
2063-10-08
2061-07-19
2069-12-10
2074-01-10
2067-10-04
2067-07-17
2062-01-15
2078-08-24
2063-10-13
2071-06-02
2060-04-23
2067-04-11
2079-08-20
2063-02-14
2046-02-19
2070-08-11
2067-12-27
2062-09-28
2072-07-13
2054-05-04
2071-11-04
2063-11-05
2044-08-23
2071-03-06
2045-08-14
2066-06-21
2078-08-03
2063-11-27
N/A
2072-11-20
2063-07-13
2059-02-22
2045-01-10
2063-12-12
2061-01-03
2049-11-05
2046-02-32
2074-05-15
2076-01-16
2076-05-24
2060-04-14
2063-02-24
2069-09-20
2058-05-24
2067-03-28
2062-02-24
2060-05-30
2069-04-07
2054-11-04
2059-08-05
2060-04-18
2060-06-18
2065-02-10
2063-05-12
2041-01-06
N/A
2066-02-31
2044-10-17
2052-03-19
2062-02-27
2057-05-26
2066-03-24
2064-01-04
2050-01-29
N/A
2063-12-22
2064-09-01
2053-04-23
2056-02-05
2058-05-01
2060-02-13
2078-08-07
2070-02-27
2066-04-15
2069-05-19
2060-12-08
2058-12-30
2071-06-28
2066-03-23
2068-11-16
2070-03-27
2056-11-23
2069-11-11
2059-02-05
2066-01-27
2070-07-13
2065-04-21
2067-09-04
2068-07-03
2056-08-20
2068-11-02
2044-10-22
2070-02-19
2071-02-08
2063-07-03
2071-04-28
2052-01-13
2060-07-30
2062-01-08
2063-11-10
2058-03-29
2070-12-24
2065-11-05
2063-12-02
2051-11-16
2063-11-24
2063-12-27
2062-08-15
2061-06-06
2063-04-17
2063-07-23
2072-07-19
2063-12-06
2075-01-07
2066-03-17
2068-07-03
2044-12-04
2037-05-03
2039-11-27
2063-10-04
2063-06-24
2076-01-30
2044-12-13
2054-05-22
2065-11-02
2059-02-02
2065-03-20
2050-02-29
2049-11-04
2077-11-20
2070-02-28
2069-03-22
2043-10-28
2051-01-28
2042-01-19
2070-02-28
2062-07-02
2055-02-14
2057-03-13
2063-11-22
2075-09-27
2076-04-08
2070-06-14
2058-02-01
2073-10-09
2067-06-12
2076-04-20
2063-10-28
2059-08-19
2058-06-14
2070-02-08
2066-01-27
2059-01-17
2055-04-08
2066-05-02
2073-02-21
2066-03-01
2057-10-23
2049-11-12
2057-03-16
2056-07-29
2044-12-06
2071-11-20
2074-05-14
2063-03-18
2061-07-17
2052-05-06
2069-02-17
2054-05-24
2061-05-16
2063-05-13
2067-11-30
2055-11-13
2068-11-04
2034-05-19
2071-01-07
2055-05-07
2047-03-20
2048-04-16
2063-11-01
2062-09-07
2063-11-25
2063-11-08
2060-08-23
2050-04-31
2056-01-12
2063-11-05
2063-04-21
2068-04-22
2063-08-01
2072-03-22
2044-04-20
2069-04-26
2064-02-28
2065-09-08
2071-05-02
2063-12-18
2064-10-11
2036-12-10
2036-12-10
2046-03-09
2063-01-21
2063-10-12
2064-09-19
2071-11-27
2051-09-20
2066-01-08
2046-11-30
2064-11-16
2065-09-04
2074-02-18
2071-05-20
2067-01-15
2047-09-29
2076-04-19
2073-12-17
2062-01-06
2071-12-25
2040-04-25
2045-01-04
2060-07-21
2065-06-09
2056-05-16
2057-05-30
2067-01-02
2066-02-10
2044-10-02
2063-10-14
2057-02-17
2072-04-13
2064-04-30
2056-04-31
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan

In [44]:
search_list = []
Name = incremental_df['Name']
search_list.append(Name)
Father_name = incremental_df['FatherName']
search_list.append(Father_name)
citizen_number = incremental_df['CitizenshipNumber']
search_list.append(citizen_number)

In [43]:
search_list

[0                       OM PRASAD DHAKAL
 1                   RAM  KUMAR CHAUDHARY
 2                      RAHUL KUMAR SINGH
 3                      CHANDRA MAYA B.K.
 4                      DIPAK BISHWAKARMA
                      ...
 517                       SANITARY HOMES
 518                   R.R. KIRANA STORES
 519                        ROSHAN STORES
 520                        SURYA TRADERS
 521    SAFAL INTERNATIONAL MULTISERVICES
 Name: Name, Length: 522, dtype: object,
 0       True
 1       True
 2       True
 3       True
 4       True
        ...
 517    False
 518    False
 519    False
 520    False
 521    False
 Name: FatherName, Length: 522, dtype: bool,
 0       True
 1       True
 2       True
 3       True
 4       True
        ...
 517    False
 518    False
 519    False
 520    False
 521    False
 Name: CitizenshipNumber, Length: 522, dtype: bool]

In [7]:
client_table_df = pd.read_excel(r'D:\BOT_Prime\CIB_DELTA_back\output\client_table.xlsx')

In [8]:
client_table_df.head()

,typeofclient,clientcategory,ownershiptype,clientcode,name,firstname,middlename,lastname,jointname,address1,...,fathersname,gfathersname,spousename,clientstatus,mobileno,phone,key_risk_grade,reason,pannumber,regnum
0,1,NaN,001 Individual,1,DEEPAK ADHIKARI,DEEPAK,NaN,ADHIKARI,NaN,TANSEN,...,LEKH NATH ADHIKARI,TARA NATH ADHIKARI,BISHNU LAMSAL,A,9.851061e+09,4462112,MR Medium,NaN,103513700.0,NaN
1,1,NaN,001 Individual,2,KAMAL KUMAR CHAUDHARY,KAMAL,KUMAR,CHAUDHARY,NaN,RAJBIRAJ,...,AJODHI CHAUDHARY,JHAKSU CHAUDHARY,SITA CHAUDHARY,A,9.851039e+09,01-4266745,MR Medium,NaN,NaN,NaN
2,2,Oth,NaN,3,JIRI CAMPUS,JIRI CAMPUS,NaN,NaN,NaN,"JIRI-6, DOLAKHA",...,NaN,NaN,NaN,A,9.860416e+09,9860416045,MR Medium,NaN,999999999.0,NaN
3,1,NaN,001 Individual,4,PRITY DHANA RAI,PRITY,DHANA,RAI,NaN,SOLUKHUMBU-6,...,BHIM BAHADUR RAI,DHANBIR RAI,NaN,A,9.841469e+09,4274082,LR Low,NaN,NaN,NaN
4,1,NaN,001 Individual,5,RONESH STHAPIT,RONESH,NaN,STHAPIT,NaN,OLD BANESHWOR,...,RAJENDRA RATNA STHAPIT,SIDDHI RATNA STHAPIT,NaN,A,9.841449e+09,4495036,LR Low,NaN,NaN,NaN

In [48]:
def calculate_similarity(str1, str2):
    # print(str2)
    if not isinstance(str1, str) or not isinstance(str2, str):
        return 0  
    
    if len(str1) == 0 or len(str2) == 0:
        return 0  
    
    distance = Levenshtein.distance(str1, str2)
    max_length = max(len(str1), len(str2))
    similarity_ratio = 1 - (distance / max_length)
    return similarity_ratio * 100 


incremental_df['Weightage_of_Name'] = incremental_df['Name'].apply(lambda x: min([calculate_similarity(x, name) for name in client_table_df['name']]))
incremental_df['Weightage_of_Father_Name'] = incremental_df['FatherName'].apply(lambda x: min([calculate_similarity(x, fname) for fname in client_table_df['fathersname']]))
incremental_df.head(3)

,Name,DOB,Gender,FatherName,CitizenshipDetails,PassportDetails,DrivingLicenseDetails,VoterIDDetails,PANDetails,CompanyDetails,IndianEmbassyDetails,BlackLists,CitizenshipNumber,Weightage_of_Name,Weightage_of_Father_Name
0,OM PRASAD DHAKAL,2045-12-01,M,DEVI PRASAD DHAKAL,134897|2061-11-19|Kavre,NaN,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|85672|2080-06-...,2061-11-19,5.882353,0.0
1,RAM KUMAR CHAUDHARY,2042-01-29,M,DHURAN CHAUDHARY,93364/94364|2061-09-26|Sunasari,NaN,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|85711|2080-06-...,2061-09-26,15.000000,0.0
2,RAHUL KUMAR SINGH,2052-05-15,M,LAXMI PRASAD SINGH,18-1-061/566|2068-09-19|Mahotari,NaN,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|85606|2080-06-...,2068-09-19,5.882353,0.0

In [10]:
incremental_df.shape

(522, 14)

In [47]:
# Initialize an empty list to store dictionaries
search_list = []

# Iterate through the rows of the DataFrame
for index, row in incremental_df.iterrows():
    # Extract data from columns
    name = row['Name']
    father_name = row['FatherName']
    citizen_number = row['CitizenshipNumber']
    
    # Create a dictionary for each row
    data_dict = {
        'Name': name,
        'FatherName': father_name,
        'CitizenshipNumber': citizen_number
    }
    
    # Append the dictionary to the search_list
    search_list.append(data_dict)

# Print the list of dictionaries
# print(search_list)

In [3]:
client_table_df = pd.read_excel(r'D:\BOT_Prime\CIB_DELTA_back\output\client_tablee.xlsx')
client_table_df.count()

Unnamed: 0         5000
typeofclient       4857
clientcategory      230
ownershiptype      3306
clientcode         5000
name               5000
firstname          3174
middlename         1451
lastname           2972
jointname             8
address1           4998
dateofbirth        4178
citizenshipno      3599
citizendistrict    3560
fathersname        4155
gfathersname       3941
spousename         2602
clientstatus       5000
mobileno           4203
phone              4289
key_risk_grade     5000
reason               74
pannumber           242
regnum                0
dtype: int64

In [4]:
client_table_df.head(2)

,Unnamed: 0,typeofclient,clientcategory,ownershiptype,clientcode,name,firstname,middlename,lastname,jointname,...,fathersname,gfathersname,spousename,clientstatus,mobileno,phone,key_risk_grade,reason,pannumber,regnum
0,0,1.0,NaN,001 Individual,1,DEEPAK ADHIKARI,DEEPAK,NaN,ADHIKARI,NaN,...,LEKH NATH ADHIKARI,TARA NATH ADHIKARI,BISHNU LAMSAL,A,9851060939,4462112,MR,NaN,103513700.0,NaN
1,1,1.0,NaN,001 Individual,2,KAMAL KUMAR CHAUDHARY,KAMAL,KUMAR,CHAUDHARY,NaN,...,AJODHI CHAUDHARY,JHAKSU CHAUDHARY,SITA CHAUDHARY,A,9851038787,01-4266745,MR,NaN,NaN,NaN

In [5]:
client_table_df['typeofclient'].values

array([1., 1., 2., ..., 1., 2., 1.])

In [6]:
company_data = client_table_df[client_table_df['typeofclient'] == '1.']
company_data.head(10)

Empty DataFrame
Columns: [Unnamed: 0, typeofclient, clientcategory, ownershiptype, clientcode, name, firstname, middlename, lastname, jointname, address1, dateofbirth, citizenshipno, citizendistrict, fathersname, gfathersname, spousename, clientstatus, mobileno, phone, key_risk_grade, reason, pannumber, regnum]
Index: []

[0 rows x 24 columns]

In [2]:
import pandas as pd
incremental_df = pd.read_excel(r'D:\BOT_Prime\CIB_DELTA_back\output\incremental_data.xlsx')
incremental_df.head(2)

,Name,DOB,Gender,FatherName,CitizenshipDetails,PassportDetails,DrivingLicenseDetails,VoterIDDetails,PANDetails,CompanyDetails,IndianEmbassyDetails,BlackLists
0,OM PRASAD DHAKAL,2045-12-01,M,DEVI PRASAD DHAKAL,134897|2061-11-19|Kavre,NaN,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|85672|2080-06-...
1,RAM KUMAR CHAUDHARY,2042-01-29,M,DHURAN CHAUDHARY,93364/94364|2061-09-26|Sunasari,NaN,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|85711|2080-06-...

In [7]:
import Levenshtein as lev
import pandas as pd
import ast 

# Sample DataFrames (replace these with your actual DataFrames)
# ...

# Convert columns to strings
incremental_df['Name'] = incremental_df['Name'].astype(str)
incremental_df['FatherName'] = incremental_df['FatherName'].astype(str)
incremental_df['DOB'] = incremental_df['DOB'].astype(str)

# incremental_df['CitizenshipDetails'].notnull()
# Iterate through the 'CitizenshipDetails' column
for index, item in incremental_df['CitizenshipDetails'].items():
    item = str(item)
    
    # Check if item contains commas
    if ',' in item:
        citizen_list = ast.literal_eval(item)
        if isinstance(citizen_list, list):
            for data in citizen_list:
                # Check if '|' exists before splitting
                if '|' in data:
                    citizen_number = data.split('|')[1]
                    incremental_df.at[index, 'CitizenshipNumber'] = citizen_number
                else:
                    print(f"Invalid format in item: {data}")
    else:
        # Check if '|' exists before splitting
        if '|' in item:
            citizen_number = item.split('|')[1]
            print(citizen_number)
            incremental_df.at[index, 'CitizenshipNumber'] = citizen_number
        else:
            print(f"Invalid format in item: {item}")
incremental_df['CitizenshipNumber'] = incremental_df['CitizenshipNumber'].astype(str)

client_table_df['name'] = client_table_df['name'].astype(str)
client_table_df['fathersname'] = client_table_df['fathersname'].astype(str)
client_table_df['citizenshipno'] = client_table_df['citizenshipno'].astype(str)

# Calculate Levenshtein ratio for 'Name' column and convert to percentage
name_similarity = []
for name in incremental_df['Name']:
    try:
        similarity_scores = [lev.ratio(name, str(client_name)) for client_name in client_table_df['name']]
        avg_similarity = (sum(similarity_scores) / len(similarity_scores)) * 100
        name_similarity.append(avg_similarity)
    except Exception as e:
        print(f"Error processing name: {name}. Error: {e}")
        name_similarity.append(0)  # or any other default value indicating an error

# Calculate Levenshtein ratio for 'FatherName' column and convert to percentage
father_name_similarity = []
for fname in incremental_df['FatherName']:
    try:
        similarity_scores = [lev.ratio(fname, str(client_fname)) for client_fname in client_table_df['fathersname']]
        avg_similarity = (sum(similarity_scores) / len(similarity_scores)) * 100
        father_name_similarity.append(avg_similarity)
    except Exception as e:
        print(f"Error processing father name: {fname}. Error: {e}")
        father_name_similarity.append(0)  # or any other default value indicating an error
citizen_similarity = []
for citizenshipnumber in incremental_df['CitizenshipNumber']:
    try:
        similarity_scores = [lev.ratio(citizenshipnumber, str(client_citizen_number)) for client_citizen_number in client_table_df['citizenshipno']]
        avg_similarity = (sum(similarity_scores) / len(similarity_scores)) * 100
        citizen_similarity.append(avg_similarity)
    except Exception as e:
        print(f"Error processing name: {citizenshipnumber}. Error: {e}")
        citizen_similarity.append(0)  # or any other default value indicating an error

dob_similarity = []
for dob in incremental_df['DOB']:
    try:
        similarity_scores = [lev.ratio(dob, str(client_dob)) for client_dob in client_table_df['dateofbirth']]
        avg_similarity = (sum(similarity_scores) / len(similarity_scores)) * 100
        dob_similarity.append(avg_similarity)
    except Exception as e:
        print(f"Error processing name: {dob}. Error: {e}")
        dob_similarity.append(0)  # or any other default value indicating an error
# Rest of your code...

# Store similarity values in new columns in incremental_df
# incremental_df['NameSimilarity'] = name_similarity
# incremental_df['FatherNameSimilarity'] = father_name_similarity
# incremental_df['CitizenshipSimilarity'] = citizen_similarity
similarity_data = {
    'NameSimilarity' : name_similarity,
    'FatherNameSimilarity' : father_name_similarity,
    'CitizenshipSimilarity' : citizen_similarity,
    'DOBSimilarity':dob_similarity
}

similarity_df = pd.DataFrame(similarity_data)
# Rest of your code...

2061-11-19
2061-09-26
2068-09-19
2054-10-13
2055-09-02
2060-06-27
2051-05-06
2057-10-20
2058-10-17
2068-11-04
2067-09-08
2056-05-01
2065-07-28
2066-12-12
2063-12-02
2040-08-04
2038-07-25
2066-12-27
2043-04-16
2049-05-28
2054-07-24
2077-11-21
2064-12-14
2067-09-05
2058-12-12
2064-11-19
2051-11-12
2064-03-31
2074-06-02
2071-02-02
2066-05-24
2043-06-08
2074-12-04
2062-12-21
2071-10-04
2062-03-29
2075-02-07
2068-06-01
2062-08-20
2063-11-05
2045-02-06
2041-07-23
2062-04-11
2060-08-29
2056-03-31
2038-08-18
2058-10-11
2073-11-03
2049-10-12
2065-08-15
2064-03-05
2055-05-29
2058-02-08
2044-12-19
2063-02-17
2056-07-30
2067-07-18
2072-02-10
2068-06-22
2061-12-11
2063-10-07
2060-03-05
2060-08-25
2043-03-16
2042-12-22
2042-12-22
2069-06-09
2064-01-21
2074-01-21
2075-01-10
2070-10-07
2070-04-10
2057-02-32
2058-05-25
2064-08-07
2067-08-28
2067-03-24
2064-12-14
2077-12-12
2046-03-06
2052-03-32
2063-02-15
2064-03-05
2067-01-03
2066-09-29
2074-06-25
2067-02-14
2061-08-03
2054-04-01
2064-03-19
2060-01-17
2041-02-24
2074-05-30
2055-09-13
2046-02-02
2071-11-01
2061-10-05
2049-03-02
2044-11-15
2068-09-26
2063-12-15
2076-01-17
2060-09-08
2050-11-23
2071-08-07
2076-06-14
2065-12-16
2068-04-22
2068-06-05
2044-12-03
2069-11-21
2060-04-13
2066-04-08
2070-08-11
2069-10-23
2061-04-30
2069-08-12
2065-12-12
2045-01-15
2063-10-22
2067-10-09
2045-08-05
2045-01-04
2061-08-15
2059-02-26
2044-11-15
2072-12-03
2070-02-20
2042-11-10
2044-03-04
2058-02-02
2066-07-22
2052-11-18
2051-10-13
2071-12-09
2063-10-24
2046-03-09
2055-01-08
2068-03-19
2045-02-02
2057-08-08
2063-10-08
2061-07-19
2069-12-10
2074-01-10
2067-10-04
2067-07-17
2062-01-15
2078-08-24
2063-10-13
2071-06-02
2060-04-23
2067-04-11
2079-08-20
2063-02-14
2046-02-19
2070-08-11
2067-12-27
2062-09-28
2072-07-13
2054-05-04
2071-11-04
2063-11-05
2044-08-23
2071-03-06
2045-08-14
2066-06-21
2078-08-03
2063-11-27
N/A
2072-11-20
2063-07-13
2059-02-22
2045-01-10
2063-12-12
2061-01-03
2049-11-05
2046-02-32
2074-05-15
2076-01-16
2076-05-24
2060-04-14
2063-02-24
2069-09-20
2058-05-24
2067-03-28
2062-02-24
2060-05-30
2069-04-07
2054-11-04
2059-08-05
2060-04-18
2060-06-18
2065-02-10
2063-05-12
2041-01-06
N/A
2066-02-31
2044-10-17
2052-03-19
2062-02-27
2057-05-26
2066-03-24
2064-01-04
2050-01-29
N/A
2063-12-22
2064-09-01
2053-04-23
2056-02-05
2058-05-01
2060-02-13
2078-08-07
2070-02-27
2066-04-15
2069-05-19
2060-12-08
2058-12-30
2071-06-28
2066-03-23
2068-11-16
2070-03-27
2056-11-23
2069-11-11
2059-02-05
2066-01-27
2070-07-13
2065-04-21
2067-09-04
2068-07-03
2056-08-20
2068-11-02
2044-10-22
2070-02-19
2071-02-08
2063-07-03
2071-04-28
2052-01-13
2060-07-30
2062-01-08
2063-11-10
2058-03-29
2070-12-24
2065-11-05
2063-12-02
2051-11-16
2063-11-24
2063-12-27
2062-08-15
2061-06-06
2063-04-17
2063-07-23
2072-07-19
2063-12-06
2075-01-07
2066-03-17
2068-07-03
2044-12-04
2037-05-03
2039-11-27
2063-10-04
2063-06-24
2076-01-30
2044-12-13
2054-05-22
2065-11-02
2059-02-02
2065-03-20
2050-02-29
2049-11-04
2077-11-20
2070-02-28
2069-03-22
2043-10-28
2051-01-28
2042-01-19
2070-02-28
2062-07-02
2055-02-14
2057-03-13
2063-11-22
2075-09-27
2076-04-08
2070-06-14
2058-02-01
2073-10-09
2067-06-12
2076-04-20
2063-10-28
2059-08-19
2058-06-14
2070-02-08
2066-01-27
2059-01-17
2055-04-08
2066-05-02
2073-02-21
2066-03-01
2057-10-23
2049-11-12
2057-03-16
2056-07-29
2044-12-06
2071-11-20
2074-05-14
2063-03-18
2061-07-17
2052-05-06
2069-02-17
2054-05-24
2061-05-16
2063-05-13
2067-11-30
2055-11-13
2068-11-04
2034-05-19
2071-01-07
2055-05-07
2047-03-20
2048-04-16
2063-11-01
2062-09-07
2063-11-25
2063-11-08
2060-08-23
2050-04-31
2056-01-12
2063-11-05
2063-04-21
2068-04-22
2063-08-01
2072-03-22
2044-04-20
2069-04-26
2064-02-28
2065-09-08
2071-05-02
2063-12-18
2064-10-11
2036-12-10
2036-12-10
2046-03-09
2063-01-21
2063-10-12
2064-09-19
2071-11-27
2051-09-20
2066-01-08
2046-11-30
2064-11-16
2065-09-04
2074-02-18
2071-05-20
2067-01-15
2047-09-29
2076-04-19
2073-12-17
2062-01-06
2071-12-25
2040-04-25
2045-01-04
2060-07-21
2065-06-09
2056-05-16
2057-05-30
2067-01-02
2066-02-10
2044-10-02
2063-10-14
2057-02-17
2072-04-13
2064-04-30
2056-04-31
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan

In [8]:
incremental_df.head(2)

,Name,DOB,Gender,FatherName,CitizenshipDetails,PassportDetails,DrivingLicenseDetails,VoterIDDetails,PANDetails,CompanyDetails,IndianEmbassyDetails,BlackLists,CitizenshipNumber
0,OM PRASAD DHAKAL,2045-12-01,M,DEVI PRASAD DHAKAL,134897|2061-11-19|Kavre,NaN,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|85672|2080-06-...,2061-11-19
1,RAM KUMAR CHAUDHARY,2042-01-29,M,DHURAN CHAUDHARY,93364/94364|2061-09-26|Sunasari,NaN,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|85711|2080-06-...,2061-09-26

In [9]:
similarity_df.head()

   NameSimilarity  FatherNameSimilarity  CitizenshipSimilarity  DOBSimilarity
0       37.645451             34.075191              16.634877      28.471724
1       38.304824             34.461221              19.951235      26.400000
2       36.329518             32.316263              18.850665      26.086897
3       33.734704             38.896617              18.854006      32.675862
4       36.293355             35.044848              18.100442      29.431724

In [1]:
import pandas as pd
df_client_table = pd.read_excel(r'D:\BOT_Prime\CIB_DELTA_back\output\client_table.xlsx')

In [2]:
df_client_table.head()

,typeofclient,clientcategory,ownershiptype,clientcode,name,firstname,middlename,lastname,jointname,address1,...,fathersname,gfathersname,spousename,clientstatus,mobileno,phone,key_risk_grade,reason,pannumber,regnum
0,1,NaN,001 Individual,1,DEEPAK ADHIKARI,DEEPAK,NaN,ADHIKARI,NaN,TANSEN,...,LEKH NATH ADHIKARI,TARA NATH ADHIKARI,BISHNU LAMSAL,A,9.851061e+09,4462112,MR Medium,NaN,103513700.0,NaN
1,1,NaN,001 Individual,2,KAMAL KUMAR CHAUDHARY,KAMAL,KUMAR,CHAUDHARY,NaN,RAJBIRAJ,...,AJODHI CHAUDHARY,JHAKSU CHAUDHARY,SITA CHAUDHARY,A,9.851039e+09,01-4266745,MR Medium,NaN,NaN,NaN
2,2,Oth,NaN,3,JIRI CAMPUS,JIRI CAMPUS,NaN,NaN,NaN,"JIRI-6, DOLAKHA",...,NaN,NaN,NaN,A,9.860416e+09,9860416045,MR Medium,NaN,999999999.0,NaN
3,1,NaN,001 Individual,4,PRITY DHANA RAI,PRITY,DHANA,RAI,NaN,SOLUKHUMBU-6,...,BHIM BAHADUR RAI,DHANBIR RAI,NaN,A,9.841469e+09,4274082,LR Low,NaN,NaN,NaN
4,1,NaN,001 Individual,5,RONESH STHAPIT,RONESH,NaN,STHAPIT,NaN,OLD BANESHWOR,...,RAJENDRA RATNA STHAPIT,SIDDHI RATNA STHAPIT,NaN,A,9.841449e+09,4495036,LR Low,NaN,NaN,NaN

In [4]:
df_client_table['ownershiptype'].unique()

array(['001 Individual', nan], dtype=object)

In [5]:
individual_df = df_client_table[df_client_table['ownershiptype'] == '001 Individual']

In [6]:
individual_df.head( )

,typeofclient,clientcategory,ownershiptype,clientcode,name,firstname,middlename,lastname,jointname,address1,...,fathersname,gfathersname,spousename,clientstatus,mobileno,phone,key_risk_grade,reason,pannumber,regnum
0,1,NaN,001 Individual,1,DEEPAK ADHIKARI,DEEPAK,NaN,ADHIKARI,NaN,TANSEN,...,LEKH NATH ADHIKARI,TARA NATH ADHIKARI,BISHNU LAMSAL,A,9.851061e+09,4462112,MR Medium,NaN,103513700.0,NaN
1,1,NaN,001 Individual,2,KAMAL KUMAR CHAUDHARY,KAMAL,KUMAR,CHAUDHARY,NaN,RAJBIRAJ,...,AJODHI CHAUDHARY,JHAKSU CHAUDHARY,SITA CHAUDHARY,A,9.851039e+09,01-4266745,MR Medium,NaN,NaN,NaN
3,1,NaN,001 Individual,4,PRITY DHANA RAI,PRITY,DHANA,RAI,NaN,SOLUKHUMBU-6,...,BHIM BAHADUR RAI,DHANBIR RAI,NaN,A,9.841469e+09,4274082,LR Low,NaN,NaN,NaN
4,1,NaN,001 Individual,5,RONESH STHAPIT,RONESH,NaN,STHAPIT,NaN,OLD BANESHWOR,...,RAJENDRA RATNA STHAPIT,SIDDHI RATNA STHAPIT,NaN,A,9.841449e+09,4495036,LR Low,NaN,NaN,NaN
5,1,NaN,001 Individual,6,BIJAYA POUDEL,BIJAYA,NaN,POUDEL,NaN,PABITRANAGAR-29,...,SOORYA MANI POUDEL,KOMAL NATH POUDEL,NaN,A,9.841322e+09,4353199,LR Low,NaN,NaN,NaN

In [10]:
import Levenshtein as lev
import pandas as pd
import ast

# Sample DataFrames (replace these with your actual DataFrames)
for index, item in incremental_df['CitizenshipDetails'].items():
    item = str(item)
    
    # Check if item contains commas
    if ',' in item:
        citizen_list = ast.literal_eval(item)
        if isinstance(citizen_list, list):
            for data in citizen_list:
                # Check if '|' exists before splitting
                if '|' in data:
                    citizen_number = data.split('|')[1]
                    incremental_df.at[index, 'CitizenshipNumber'] = citizen_number
                else:
                    print(f"Invalid format in item: {data}")
    else:
        # Check if '|' exists before splitting
        if '|' in item:
            citizen_number = item.split('|')[1]
            print(citizen_number)
            incremental_df.at[index, 'CitizenshipNumber'] = citizen_number
        else:
            print(f"Invalid format in item: {item}")
incremental_df['CitizenshipNumber'] = incremental_df['CitizenshipNumber'].astype(str)
incremental_df['Name'] = incremental_df['Name'].astype(str)
incremental_df['FatherName'] = incremental_df['FatherName'].astype(str)
incremental_df['DOB'] = incremental_df['DOB'].astype(str)

client_table_df['name'] = client_table_df['name'].astype(str)
client_table_df['fathersname'] = client_table_df['fathersname'].astype(str)
client_table_df['citizenshipno'] = client_table_df['citizenshipno'].astype(str)
client_table_df['dateofbirth'] = client_table_df['dateofbirth'].astype(str)

# Function to calculate Levenshtein ratio and convert to percentage
def calculate_similarity(row, client_data):
    try:
        similarity_scores = [lev.ratio(str(row), str(client_item)) for client_item in client_data]
        avg_similarity = (sum(similarity_scores) / len(similarity_scores)) * 100
        return avg_similarity
    except Exception as e:
        print(f"Error processing item: {row}. Error: {e}")
        return 0  # or any other default value indicating an error

# Calculate similarities using apply function
similarity_df_apply = pd.DataFrame({
    'NameSimilarity': incremental_df['Name'].apply(lambda x: calculate_similarity(x, client_table_df['name'])),
    'FatherNameSimilarity': incremental_df['FatherName'].apply(lambda x: calculate_similarity(x, client_table_df['fathersname'])),
    'CitizenshipSimilarity': incremental_df['CitizenshipNumber'].apply(lambda x: calculate_similarity(x, client_table_df['citizenshipno'])),
    'DOBSimilarity': incremental_df['DOB'].apply(lambda x: calculate_similarity(x, client_table_df['dateofbirth']))
})

# Rest of your code...

2061-11-19
2061-09-26
2068-09-19
2054-10-13
2055-09-02
2060-06-27
2051-05-06
2057-10-20
2058-10-17
2068-11-04
2067-09-08
2056-05-01
2065-07-28
2066-12-12
2063-12-02
2040-08-04
2038-07-25
2066-12-27
2043-04-16
2049-05-28
2054-07-24
2077-11-21
2064-12-14
2067-09-05
2058-12-12
2064-11-19
2051-11-12
2064-03-31
2074-06-02
2071-02-02
2066-05-24
2043-06-08
2074-12-04
2062-12-21
2071-10-04
2062-03-29
2075-02-07
2068-06-01
2062-08-20
2063-11-05
2045-02-06
2041-07-23
2062-04-11
2060-08-29
2056-03-31
2038-08-18
2058-10-11
2073-11-03
2049-10-12
2065-08-15
2064-03-05
2055-05-29
2058-02-08
2044-12-19
2063-02-17
2056-07-30
2067-07-18
2072-02-10
2068-06-22
2061-12-11
2063-10-07
2060-03-05
2060-08-25
2043-03-16
2042-12-22
2042-12-22
2069-06-09
2064-01-21
2074-01-21
2075-01-10
2070-10-07
2070-04-10
2057-02-32
2058-05-25
2064-08-07
2067-08-28
2067-03-24
2064-12-14
2077-12-12
2046-03-06
2052-03-32
2063-02-15
2064-03-05
2067-01-03
2066-09-29
2074-06-25
2067-02-14
2061-08-03
2054-04-01
2064-03-19
2060-01-17
2041-02-24
2074-05-30
2055-09-13
2046-02-02
2071-11-01
2061-10-05
2049-03-02
2044-11-15
2068-09-26
2063-12-15
2076-01-17
2060-09-08
2050-11-23
2071-08-07
2076-06-14
2065-12-16
2068-04-22
2068-06-05
2044-12-03
2069-11-21
2060-04-13
2066-04-08
2070-08-11
2069-10-23
2061-04-30
2069-08-12
2065-12-12
2045-01-15
2063-10-22
2067-10-09
2045-08-05
2045-01-04
2061-08-15
2059-02-26
2044-11-15
2072-12-03
2070-02-20
2042-11-10
2044-03-04
2058-02-02
2066-07-22
2052-11-18
2051-10-13
2071-12-09
2063-10-24
2046-03-09
2055-01-08
2068-03-19
2045-02-02
2057-08-08
2063-10-08
2061-07-19
2069-12-10
2074-01-10
2067-10-04
2067-07-17
2062-01-15
2078-08-24
2063-10-13
2071-06-02
2060-04-23
2067-04-11
2079-08-20
2063-02-14
2046-02-19
2070-08-11
2067-12-27
2062-09-28
2072-07-13
2054-05-04
2071-11-04
2063-11-05
2044-08-23
2071-03-06
2045-08-14
2066-06-21
2078-08-03
2063-11-27
N/A
2072-11-20
2063-07-13
2059-02-22
2045-01-10
2063-12-12
2061-01-03
2049-11-05
2046-02-32
2074-05-15
2076-01-16
2076-05-24
2060-04-14
2063-02-24
2069-09-20
2058-05-24
2067-03-28
2062-02-24
2060-05-30
2069-04-07
2054-11-04
2059-08-05
2060-04-18
2060-06-18
2065-02-10
2063-05-12
2041-01-06
N/A
2066-02-31
2044-10-17
2052-03-19
2062-02-27
2057-05-26
2066-03-24
2064-01-04
2050-01-29
N/A
2063-12-22
2064-09-01
2053-04-23
2056-02-05
2058-05-01
2060-02-13
2078-08-07
2070-02-27
2066-04-15
2069-05-19
2060-12-08
2058-12-30
2071-06-28
2066-03-23
2068-11-16
2070-03-27
2056-11-23
2069-11-11
2059-02-05
2066-01-27
2070-07-13
2065-04-21
2067-09-04
2068-07-03
2056-08-20
2068-11-02
2044-10-22
2070-02-19
2071-02-08
2063-07-03
2071-04-28
2052-01-13
2060-07-30
2062-01-08
2063-11-10
2058-03-29
2070-12-24
2065-11-05
2063-12-02
2051-11-16
2063-11-24
2063-12-27
2062-08-15
2061-06-06
2063-04-17
2063-07-23
2072-07-19
2063-12-06
2075-01-07
2066-03-17
2068-07-03
2044-12-04
2037-05-03
2039-11-27
2063-10-04
2063-06-24
2076-01-30
2044-12-13
2054-05-22
2065-11-02
2059-02-02
2065-03-20
2050-02-29
2049-11-04
2077-11-20
2070-02-28
2069-03-22
2043-10-28
2051-01-28
2042-01-19
2070-02-28
2062-07-02
2055-02-14
2057-03-13
2063-11-22
2075-09-27
2076-04-08
2070-06-14
2058-02-01
2073-10-09
2067-06-12
2076-04-20
2063-10-28
2059-08-19
2058-06-14
2070-02-08
2066-01-27
2059-01-17
2055-04-08
2066-05-02
2073-02-21
2066-03-01
2057-10-23
2049-11-12
2057-03-16
2056-07-29
2044-12-06
2071-11-20
2074-05-14
2063-03-18
2061-07-17
2052-05-06
2069-02-17
2054-05-24
2061-05-16
2063-05-13
2067-11-30
2055-11-13
2068-11-04
2034-05-19
2071-01-07
2055-05-07
2047-03-20
2048-04-16
2063-11-01
2062-09-07
2063-11-25
2063-11-08
2060-08-23
2050-04-31
2056-01-12
2063-11-05
2063-04-21
2068-04-22
2063-08-01
2072-03-22
2044-04-20
2069-04-26
2064-02-28
2065-09-08
2071-05-02
2063-12-18
2064-10-11
2036-12-10
2036-12-10
2046-03-09
2063-01-21
2063-10-12
2064-09-19
2071-11-27
2051-09-20
2066-01-08
2046-11-30
2064-11-16
2065-09-04
2074-02-18
2071-05-20
2067-01-15
2047-09-29
2076-04-19
2073-12-17
2062-01-06
2071-12-25
2040-04-25
2045-01-04
2060-07-21
2065-06-09
2056-05-16
2057-05-30
2067-01-02
2066-02-10
2044-10-02
2063-10-14
2057-02-17
2072-04-13
2064-04-30
2056-04-31
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan
Invalid format in item: nan

In [11]:
similarity_df_apply.head()

   NameSimilarity  FatherNameSimilarity  CitizenshipSimilarity  DOBSimilarity
0       37.645451             34.075191              16.634877      28.471724
1       38.304824             34.461221              19.951235      26.400000
2       36.329518             32.316263              18.850665      26.086897
3       33.734704             38.896617              18.854006      32.675862
4       36.293355             35.044848              18.100442      29.431724

In [34]:
40/100*37.64

15.056000000000001

In [12]:
similarity_df.head()

   NameSimilarity  FatherNameSimilarity  CitizenshipSimilarity  DOBSimilarity
0       37.645451             34.075191              16.634877      28.471724
1       38.304824             34.461221              19.951235      26.400000
2       36.329518             32.316263              18.850665      26.086897
3       33.734704             38.896617              18.854006      32.675862
4       36.293355             35.044848              18.100442      29.431724

In [1]:
import pandas as pd
# weitage = pd.read_excel(r'D:\BOT_Prime\CIB_DELTA_back\output\Weightage Distribution.xlsx')
path = r'D:\BOT_Prime\CIB_DELTA_back\output\Weightage Distribution.xlsx'

In [2]:
df = pd.read_excel(path, sheet_name='Account information provided', skiprows=[0, 1, 2, 3])
df = df.fillna('')
df.columns = [ str(x).strip().lower() for x in df.columns.to_list()]

In [3]:
df.columns

Index(['condition', 'name', 'account number', 'total weight'], dtype='object')

In [4]:
df = pd.read_excel(path, sheet_name='Natural', skiprows=[0, 1, 2, 3, 4, 5, 6, 7])
df = df.drop(columns=df.columns[df.columns.str.contains('Assumption')])
df = df.dropna(axis=0, how='all')
df = df.dropna(axis=1, how='all').fillna('')
df.columns = [ str(x).strip().lower() for x in df.columns.to_list()]

In [5]:
df.columns

Index(['condition', 'name', 'citizenship number', 'father name',
       'grandfather name', 'total weight'],
      dtype='object')

In [6]:
df.head()

,condition,name,citizenship number,father name,grandfather name,total weight
0,1.All information available,40.0,20.0,20.0,20.0,100.0
3,2.Any three-information available :,,,,,
4,"Name, Citizenship number, Father Name",50.0,20.0,30.0,,100.0
5,"Name, Citizenship number, Grandfather name",50.0,20.0,,30.0,100.0
6,"Name, Father Name, Grandfather name",50.0,,25.0,25.0,100.0

In [7]:

weights = {}
df = df[df['condition'].str.contains('All information', na=False)]

In [8]:
df

,condition,name,citizenship number,father name,grandfather name,total weight
0,1.All information available,40.0,20.0,20.0,20.0,100.0

In [24]:
index = int(df.index.values.tolist()[0])
weights['name'] = df.at[index, 'name']
weights['citizenship_no'] = df.at[index, 'citizenship number']
weights['father_name'] = df.at[index, 'father name']
weights['gfather_name'] = df.at[index, 'grandfather name']

In [25]:
weights

{'name': 40.0,
 'citizenship_no': 20.0,
 'father_name': 20.0,
 'gfather_name': 20.0}

In [5]:
client_table_df = pd.read_excel(r'D:\BOT_Prime\CIB_DELTA_back\output\client_tablee.xlsx')

In [19]:
client_table_df['name']

0             DEEPAK ADHIKARI
1       KAMAL KUMAR CHAUDHARY
2                 JIRI CAMPUS
3             PRITY DHANA RAI
4              RONESH STHAPIT
                ...
4995      SHARAD BIR KANSAKAR
4996      PRAMOD BAHADUR SHAH
4997           GEETA SHRESTHA
4998       SUBHADRA MANANDHAR
4999           MEENA MAHARJAN
Name: name, Length: 5000, dtype: object

In [20]:
import re
import Levenshtein
import numpy as np

def compare_two_strings_in_df(string1: str, *args, **kwargs):
    '''
        Required kwargs key value:
            string2: str ==> value that required to compare with
            soundex: bool ==> if soundex is need to be applied
    '''
    # print(kwargs.keys())
    if not all(x in kwargs.keys() for x in ['string2', 'soundex']):
        print(string1)
        return np.nan
    string2: str = str(kwargs['string2']).strip()

    string1 = re.sub(r'\s+', ' ', str(string1)).upper()
    string2 = re.sub(r'\s+', ' ', str(string2)).upper()
    print(string2)
    try:
        string1 = str(int(float(string1)))
    except:
        pass

    similarity = float(Levenshtein.ratio(str(string1).strip(), string2.strip()))

    return float(round(similarity * 100.0, 2))

# Example usage
# string1 = "example string"
# string2 = "example string with typo"
# soundex = True  # Apply soundex algorithm

# similarity_ratio = compare_two_strings_in_df(string1, string2=string2, soundex=soundex)
# print(f"Similarity Ratio: {similarity_ratio}%")

In [22]:
# string1 = "example string"
# string2 = "example string with typo"
# soundex = True  # Apply soundex algorithm
client_table_df['name'] = client_table_df['name'].astype(str)
incremental_df['Name'] = incremental_df['Name'].astype(str)
soundex = True 

similarity_ratio = compare_two_strings_in_df(incremental_df['Name'],client_table_df['name'], soundex=soundex)
print(f"Similarity Ratio: {similarity_ratio}%")

0                       OM PRASAD DHAKAL
1                   RAM  KUMAR CHAUDHARY
2                      RAHUL KUMAR SINGH
3                      CHANDRA MAYA B.K.
4                      DIPAK BISHWAKARMA
                     ...
517                       SANITARY HOMES
518                   R.R. KIRANA STORES
519                        ROSHAN STORES
520                        SURYA TRADERS
521    SAFAL INTERNATIONAL MULTISERVICES
Name: Name, Length: 522, dtype: object
Similarity Ratio: nan%

In [23]:
import re
import Levenshtein
import numpy as np

def compare_two_strings_in_df(string1: str, string2: str, soundex: bool):
    string1 = re.sub(r'\s+', ' ', str(string1)).upper()
    string2 = re.sub(r'\s+', ' ', str(string2)).upper()
    try:
        string1 = str(int(float(string1)))
    except:
        pass

    similarity = float(Levenshtein.ratio(str(string1).strip(), string2.strip()))

    return float(round(similarity * 100.0, 2))

client_table_df['name'] = client_table_df['name'].astype(str)
incremental_df['Name'] = incremental_df['Name'].astype(str)
soundex = True

# Iterate through the Series and compare each pair of strings
similarity_ratios = []
for index, row in incremental_df.iterrows():
    name1 = row['Name']
    similarity_ratio = np.nan  # Default value if comparison fails
    for _, client_row in client_table_df.iterrows():
        name2 = client_row['name']
        similarity_ratio = compare_two_strings_in_df(name1, name2, soundex)
        if not np.isnan(similarity_ratio):
            break  # Break the loop if a valid similarity ratio is found
    similarity_ratios.append(similarity_ratio)

# Print or use similarity_ratios as needed

[45.16, 47.06, 37.5, 31.25, 56.25, 43.75, 38.71, 35.29, 28.57, 27.03, 37.84, 44.44, 32.0, 30.3, 62.5, 21.43, 29.41, 50.0, 37.5, 45.16, 38.46, 23.53, 34.48, 42.42, 36.36, 43.75, 43.75, 40.0, 33.33, 26.67, 35.71, 33.33, 41.38, 32.26, 33.33, 31.25, 70.97, 44.44, 32.26, 24.0, 29.63, 28.57, 33.33, 28.57, 38.46, 44.44, 34.48, 46.67, 42.11, 46.15, 37.84, 33.33, 27.59, 36.36, 59.26, 34.48, 33.33, 31.25, 32.26, 27.59, 53.33, 21.43, 32.26, 34.29, 33.33, 25.81, 32.0, 36.36, 28.57, 29.41, 33.33, 38.71, 32.26, 28.57, 48.28, 27.59, 34.29, 36.36, 20.69, 44.44, 35.56, 33.33, 30.77, 40.0, 34.48, 29.63, 34.48, 34.48, 24.0, 32.26, 18.75, 35.71, 34.48, 33.33, 38.46, 36.36, 32.0, 32.26, 41.38, 26.32, 45.16, 33.33, 28.57, 35.71, 38.71, 36.36, 33.33, 58.82, 58.82, 35.71, 20.0, 32.26, 33.33, 30.3, 29.63, 34.29, 29.63, 37.04, 43.24, 61.11, 30.3, 23.53, 32.26, 33.33, 36.84, 45.16, 32.26, 31.25, 40.0, 35.0, 28.57, 26.67, 36.36, 66.67, 32.26, 44.44, 28.57, 50.0, 44.44, 46.67, 37.04, 37.84, 23.08, 37.04, 30.3, 34.48, 44.44, 36.36, 34.48, 28.57, 47.06, 30.77, 37.04, 29.41, 29.63, 35.71, 28.57, 35.0, 36.36, 27.59, 40.0, 37.5, 45.71, 40.0, 32.26, 30.3, 21.43, 35.29, 41.38, 34.48, 39.02, 33.33, 29.41, 41.38, 33.33, 22.86, 34.48, 40.0, 33.33, 41.38, 46.15, 33.33, 48.28, 44.44, 37.04, 44.44, 37.5, 29.63, 45.0, 28.57, 35.29, 66.67, 29.63, 29.63, 44.44, 24.0, 33.33, 23.08, 27.59, 35.71, 44.44, 37.84, 29.41, 32.26, 47.06, 32.43, 35.29, 57.14, 32.26, 27.59, 29.63, 28.57, 28.57, 40.0, 40.0, 41.18, 29.63, 35.29, 66.67, 48.48, 62.86, 21.43, 47.37, 38.89, 33.33, 35.71, 45.71, 42.42, 40.0, 34.48, 30.77, 30.77, 29.63, 29.63, 40.0, 32.43, 45.71, 45.16, 37.5, 37.5, 47.06, 41.38, 45.16, 41.18, 31.25, 41.18, 36.36, 40.0, 30.77, 37.04, 45.71, 40.0, 27.59, 22.22, 30.3, 45.71, 23.08, 45.16, 45.0, 64.29, 40.0, 36.36, 50.0, 36.36, 27.59, 32.43, 37.04, 50.0, 41.38, 38.89, 35.29, 29.41, 43.24, 68.97, 52.94, 31.25, 24.24, 35.29, 29.63, 33.33, 30.77, 38.71, 26.67, 29.63, 36.36, 29.63, 28.57, 24.0, 35.71, 37.84, 42.42, 33.33, 35.71, 37.04, 35.71, 41.03, 39.02, 46.67, 43.24, 44.44, 14.81, 29.63, 41.18, 35.71, 75.0, 34.29, 48.28, 34.48, 23.08, 37.04, 38.46, 48.0, 37.04, 29.63, 38.46, 41.18, 33.33, 25.81, 35.71, 29.63, 34.48, 30.77, 33.33, 27.59, 28.57, 35.29, 37.5, 48.28, 53.33, 43.24, 40.0, 48.28, 35.71, 41.18, 28.57, 45.71, 40.0, 59.26, 36.36, 30.3, 25.0, 38.46, 21.43, 41.38, 25.0, 28.57, 23.53, 32.26, 37.5, 38.46, 41.38, 31.25, 35.71, 33.33, 40.0, 28.57, 37.04, 44.44, 43.24, 40.0, 28.57, 19.35, 42.42, 40.0, 41.38, 51.85, 35.71, 22.86, 43.75, 33.33, 43.75, 33.33, 35.29, 40.0, 40.0, 35.71, 35.71, 21.43, 48.28, 45.71, 32.26, 41.18, 53.33, 55.17, 38.71, 40.0, 34.29, 23.08, 36.36, 42.86, 47.06, 29.63, 25.81, 33.33, 27.59, 27.59, 40.0, 46.15, 46.15, 54.55, 43.24, 41.38, 28.57, 30.3, 38.71, 25.81, 41.38, 37.84, 34.29, 27.59, 41.18, 48.28, 40.0, 40.0, 29.63, 29.63, 44.44, 30.77, 31.25, 36.36, 31.25, 27.03, 29.63, 28.57, 38.89, 29.41, 57.89, 28.57, 45.16, 27.59, 33.33, 69.23, 36.36, 40.0, 38.71, 34.48, 30.77, 18.18, 21.82, 31.37, 29.27, 25.0, 20.41, 45.71, 23.73, 19.35, 29.41, 22.73, 36.84, 37.84, 25.81, 28.57, 27.78, 36.36, 24.0, 36.36, 27.78, 28.57, 27.91, 29.41, 40.0, 29.27, 31.58, 34.15, 23.53, 31.25, 28.57, 24.24, 29.79, 30.3, 44.0, 23.53, 26.42, 25.93, 28.57, 38.1, 37.5, 30.3, 30.3, 24.24, 28.57, 41.03, 42.11, 36.36, 18.18, 27.78, 33.33, 20.69, 34.78, 26.92, 28.57, 25.0, 21.74, 25.0, 25.0, 20.83, 31.58, 24.49, 18.75, 28.57, 36.36, 37.21, 40.0, 34.04, 22.73, 31.58, 23.53, 29.09, 25.64, 19.35, 15.38, 33.33, 31.82, 30.19, 22.22, 35.29, 32.56, 27.59, 24.24, 21.43, 35.71, 29.17]

In [24]:
data_df = pd.read_excel(r'D:\BOT_Prime\CIB_DELTA_back\black_list11.xlsx')

In [25]:
data_df.head()

,Name,DOB,Gender,FatherName,CitizenshipDetails,PassportDetails,DrivingLicenseDetails,VoterIDDetails,PANDetails,CompanyDetails,IndianEmbassyDetails,BlackLists,Account_Nature,Status
0,BALRAM PRADHAN,2015-03-15,M,JITENDRA PRADHAN,2827|2046-01-11|Kathmandu,NaN,NaN,NaN,NaN,NaN,NaN,['Bank and Financial Institutions|5432|2071-01...,Individual,new
1,BHADRA BARAILI,2004-11-22,M,SAL BAHADUR BARAILI,2061/30387|2041-08-29|Sankhuwasabha,NaN,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|15073|2076-07-...,Individual,new
2,SUDHA DEVI DARUKA,2030-01-01,F,SAWAR MAL RANGUTA,10523|2068-08-04|Parsa,NaN,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|14770|2076-06-...,Individual,new
3,RAJESH RAJ VERMA,2030-08-22,M,KRISHNA RAJ VERMA,5237|2047-07-20|Saptari,NaN,NaN,NaN,NaN,NaN,NaN,['Bank and Financial Institutions|13189|2076-0...,Individual,new
4,NEELAM RIJAL,2029-05-21,F,TARAK PRASAD RIJAL,22961|2052-08-13|Morang,NaN,NaN,NaN,NaN,NaN,NaN,['Bank and Financial Institutions|11812|2075-0...,Individual,new

In [44]:
data_df['Account_Nature'].unique()

array(['Individual', 'Institutional'], dtype=object)

In [45]:
data_individual = data_df[data_df['Account_Nature'] == 'Individual']
data_individual.count()

Name                     50
DOB                      50
Gender                   50
FatherName               50
CitizenshipDetails       50
PassportDetails           0
DrivingLicenseDetails     0
VoterIDDetails            1
PANDetails                4
CompanyDetails            0
IndianEmbassyDetails      0
BlackLists               50
Account_Nature           50
Status                   50
dtype: int64

In [33]:
search_list = []

# Iterate through the columns of incremental_df
for column in incremental_df.columns:
    if column == 'Name' and not incremental_df['Name'].isnull().all():
        search_list.append('Name')
    elif column == 'FatherName' and not incremental_df['FatherName'].isnull().all():
        search_list.append('FatherName')

print(search_list)

['Name', 'FatherName']

In [35]:
item = pd.read_excel(r'D:\BOT_Prime\CIB_DELTA_back\black_list11.xlsx')

In [36]:
item.head()

,Name,DOB,Gender,FatherName,CitizenshipDetails,PassportDetails,DrivingLicenseDetails,VoterIDDetails,PANDetails,CompanyDetails,IndianEmbassyDetails,BlackLists,Account_Nature,Status
0,BALRAM PRADHAN,2015-03-15,M,JITENDRA PRADHAN,2827|2046-01-11|Kathmandu,NaN,NaN,NaN,NaN,NaN,NaN,['Bank and Financial Institutions|5432|2071-01...,Individual,new
1,BHADRA BARAILI,2004-11-22,M,SAL BAHADUR BARAILI,2061/30387|2041-08-29|Sankhuwasabha,NaN,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|15073|2076-07-...,Individual,new
2,SUDHA DEVI DARUKA,2030-01-01,F,SAWAR MAL RANGUTA,10523|2068-08-04|Parsa,NaN,NaN,NaN,NaN,NaN,NaN,Bank and Financial Institutions|14770|2076-06-...,Individual,new
3,RAJESH RAJ VERMA,2030-08-22,M,KRISHNA RAJ VERMA,5237|2047-07-20|Saptari,NaN,NaN,NaN,NaN,NaN,NaN,['Bank and Financial Institutions|13189|2076-0...,Individual,new
4,NEELAM RIJAL,2029-05-21,F,TARAK PRASAD RIJAL,22961|2052-08-13|Morang,NaN,NaN,NaN,NaN,NaN,NaN,['Bank and Financial Institutions|11812|2075-0...,Individual,new

In [37]:
search_list: list = item['Account_Nature']

In [40]:
for search in search_list:
    if search == 'Individual':
        item_df = item[item['Account_Nature'] == 'Individual']
        print(item_df.head())
        # print(search)

                Name         DOB Gender           FatherName  \
0     BALRAM PRADHAN  2015-03-15      M     JITENDRA PRADHAN
1     BHADRA BARAILI  2004-11-22      M  SAL BAHADUR BARAILI
2  SUDHA DEVI DARUKA  2030-01-01      F    SAWAR MAL RANGUTA
3   RAJESH RAJ VERMA  2030-08-22      M    KRISHNA RAJ VERMA
4       NEELAM RIJAL  2029-05-21      F   TARAK PRASAD RIJAL

                    CitizenshipDetails  PassportDetails  \
0            2827|2046-01-11|Kathmandu              NaN
1  2061/30387|2041-08-29|Sankhuwasabha              NaN
2               10523|2068-08-04|Parsa              NaN
3              5237|2047-07-20|Saptari              NaN
4              22961|2052-08-13|Morang              NaN

   DrivingLicenseDetails VoterIDDetails PANDetails CompanyDetails  \
0                    NaN            NaN        NaN            NaN
1                    NaN            NaN        NaN            NaN
2                    NaN            NaN        NaN            NaN
3                    NaN            NaN        NaN            NaN
4                    NaN            NaN        NaN            NaN

   IndianEmbassyDetails                                         BlackLists  \
0                   NaN  ['Bank and Financial Institutions|5432|2071-01...
1                   NaN  Bank and Financial Institutions|15073|2076-07-...
2                   NaN  Bank and Financial Institutions|14770|2076-06-...
3                   NaN  ['Bank and Financial Institutions|13189|2076-0...
4                   NaN  ['Bank and Financial Institutions|11812|2075-0...

  Account_Nature Status
0     Individual    new
1     Individual    new
2     Individual    new
3     Individual    new
4     Individual    new
                Name         DOB Gender           FatherName  \
0     BALRAM PRADHAN  2015-03-15      M     JITENDRA PRADHAN
1     BHADRA BARAILI  2004-11-22      M  SAL BAHADUR BARAILI
2  SUDHA DEVI DARUKA  2030-01-01      F    SAWAR MAL RANGUTA
3   RAJESH RAJ VERMA  2030-08-22      M    KRISHNA RAJ VERMA
4       NEELAM RIJAL  2029-05-21      F   TARAK PRASAD RIJAL

                    CitizenshipDetails  PassportDetails  \
0            2827|2046-01-11|Kathmandu              NaN
1  2061/30387|2041-08-29|Sankhuwasabha              NaN
2               10523|2068-08-04|Parsa              NaN
3              5237|2047-07-20|Saptari              NaN
4              22961|2052-08-13|Morang              NaN

   DrivingLicenseDetails VoterIDDetails PANDetails CompanyDetails  \
0                    NaN            NaN        NaN            NaN
1                    NaN            NaN        NaN            NaN
2                    NaN            NaN        NaN            NaN
3                    NaN            NaN        NaN            NaN
4                    NaN            NaN        NaN            NaN

   IndianEmbassyDetails                                         BlackLists  \
0                   NaN  ['Bank and Financial Institutions|5432|2071-01...
1                   NaN  Bank and Financial Institutions|15073|2076-07-...
2                   NaN  Bank and Financial Institutions|14770|2076-06-...
3                   NaN  ['Bank and Financial Institutions|13189|2076-0...
4                   NaN  ['Bank and Financial Institutions|11812|2075-0...

  Account_Nature Status
0     Individual    new
1     Individual    new
2     Individual    new
3     Individual    new
4     Individual    new
                Name         DOB Gender           FatherName  \
0     BALRAM PRADHAN  2015-03-15      M     JITENDRA PRADHAN
1     BHADRA BARAILI  2004-11-22      M  SAL BAHADUR BARAILI
2  SUDHA DEVI DARUKA  2030-01-01      F    SAWAR MAL RANGUTA
3   RAJESH RAJ VERMA  2030-08-22      M    KRISHNA RAJ VERMA
4       NEELAM RIJAL  2029-05-21      F   TARAK PRASAD RIJAL

                    CitizenshipDetails  PassportDetails  \
0            2827|2046-01-11|Kathmandu              NaN
1  2061/30387|2041-08-29|Sankhuwasabha              NaN
2               10523|2068-08-04|Parsa              NaN
3              5237|2047-07-20|Saptari              NaN
4              22961|2052-08-13|Morang              NaN

   DrivingLicenseDetails VoterIDDetails PANDetails CompanyDetails  \
0                    NaN            NaN        NaN            NaN
1                    NaN            NaN        NaN            NaN
2                    NaN            NaN        NaN            NaN
3                    NaN            NaN        NaN            NaN
4                    NaN            NaN        NaN            NaN

   IndianEmbassyDetails                                         BlackLists  \
0                   NaN  ['Bank and Financial Institutions|5432|2071-01...
1                   NaN  Bank and Financial Institutions|15073|2076-07-...
2                   NaN  Bank and Financial Institutions|14770|2076-06-...
3                   NaN  ['Bank and Financial Institutions|13189|2076-0...
4                   NaN  ['Bank and Financial Institutions|11812|2075-0...

  Account_Nature Status
0     Individual    new
1     Individual    new
2     Individual    new
3     Individual    new
4     Individual    new
                Name         DOB Gender           FatherName  \
0     BALRAM PRADHAN  2015-03-15      M     JITENDRA PRADHAN
1     BHADRA BARAILI  2004-11-22      M  SAL BAHADUR BARAILI
2  SUDHA DEVI DARUKA  2030-01-01      F    SAWAR MAL RANGUTA
3   RAJESH RAJ VERMA  2030-08-22      M    KRISHNA RAJ VERMA
4       NEELAM RIJAL  2029-05-21      F   TARAK PRASAD RIJAL

                    CitizenshipDetails  PassportDetails  \
0            2827|2046-01-11|Kathmandu              NaN
1  2061/30387|2041-08-29|Sankhuwasabha              NaN
2               10523|2068-08-04|Parsa              NaN
3              5237|2047-07-20|Saptari              NaN
4              22961|2052-08-13|Morang              NaN

   DrivingLicenseDetails VoterIDDetails PANDetails CompanyDetails  \
0                    NaN            NaN        NaN            NaN
1                    NaN            NaN        NaN            NaN
2                    NaN            NaN        NaN            NaN
3                    NaN            NaN        NaN            NaN
4                    NaN            NaN        NaN            NaN

   IndianEmbassyDetails                                         BlackLists  \
0                   NaN  ['Bank and Financial Institutions|5432|2071-01...
1                   NaN  Bank and Financial Institutions|15073|2076-07-...
2                   NaN  Bank and Financial Institutions|14770|2076-06-...
3                   NaN  ['Bank and Financial Institutions|13189|2076-0...
4                   NaN  ['Bank and Financial Institutions|11812|2075-0...

  Account_Nature Status
0     Individual    new
1     Individual    new
2     Individual    new
3     Individual    new
4     Individual    new
                Name         DOB Gender           FatherName  \
0     BALRAM PRADHAN  2015-03-15      M     JITENDRA PRADHAN
1     BHADRA BARAILI  2004-11-22      M  SAL BAHADUR BARAILI
2  SUDHA DEVI DARUKA  2030-01-01      F    SAWAR MAL RANGUTA
3   RAJESH RAJ VERMA  2030-08-22      M    KRISHNA RAJ VERMA
4       NEELAM RIJAL  2029-05-21      F   TARAK PRASAD RIJAL

                    CitizenshipDetails  PassportDetails  \
0            2827|2046-01-11|Kathmandu              NaN
1  2061/30387|2041-08-29|Sankhuwasabha              NaN
2               10523|2068-08-04|Parsa              NaN
3              5237|2047-07-20|Saptari              NaN
4              22961|2052-08-13|Morang              NaN

   DrivingLicenseDetails VoterIDDetails PANDetails CompanyDetails  \
0                    NaN            NaN        NaN            NaN
1                    NaN            NaN        NaN            NaN
2                    NaN            NaN        NaN            NaN
3                    NaN            NaN        NaN            NaN
4                    NaN            NaN        NaN            NaN

   IndianEmbassyDetails                                         BlackLists  \
0                   NaN  ['Bank and Financial Institutions|5432|2071-01...
1                   NaN  Bank and Financial Institutions|15073|2076-07-...
2                   NaN  Bank and Financial Institutions|14770|2076-06-...
3                   NaN  ['Bank and Financial Institutions|13189|2076-0...
4                   NaN  ['Bank and Financial Institutions|11812|2075-0...

  Account_Nature Status
0     Individual    new
1     Individual    new
2     Individual    new
3     Individual    new
4     Individual    new
                Name         DOB Gender           FatherName  \
0     BALRAM PRADHAN  2015-03-15      M     JITENDRA PRADHAN
1     BHADRA BARAILI  2004-11-22      M  SAL BAHADUR BARAILI
2  SUDHA DEVI DARUKA  2030-01-01      F    SAWAR MAL RANGUTA
3   RAJESH RAJ VERMA  2030-08-22      M    KRISHNA RAJ VERMA
4       NEELAM RIJAL  2029-05-21      F   TARAK PRASAD RIJAL

                    CitizenshipDetails  PassportDetails  \
0            2827|2046-01-11|Kathmandu              NaN
1  2061/30387|2041-08-29|Sankhuwasabha              NaN
2               10523|2068-08-04|Parsa              NaN
3              5237|2047-07-20|Saptari              NaN
4              22961|2052-08-13|Morang              NaN

   DrivingLicenseDetails VoterIDDetails PANDetails CompanyDetails  \
0                    NaN            NaN        NaN            NaN
1                    NaN            NaN        NaN            NaN
2                    NaN            NaN        NaN            NaN
3                    NaN            NaN        NaN            NaN
4                    NaN            NaN        NaN            NaN

   IndianEmbassyDetails                                         BlackLists  \
0                   NaN  ['Bank and Financial Institutions|5432|2071-01...
1                   NaN  Bank and Financial Institutions|15073|2076-07-...
2                   NaN  Bank and Financial Institutions|14770|2076-06-...
3                   NaN  ['Bank and Financial Institutions|13189|2076-0...
4                   NaN  ['Bank and Financial Institutions|11812|2075-0...

  Account_Nature Status
0     Individual    new
1     Individual    new
2     Individual    new
3     Individual    new
4     Individual    new
                Name         DOB Gender           FatherName  \
0     BALRAM PRADHAN  2015-03-15      M     JITENDRA PRADHAN
1     BHADRA BARAILI  2004-11-22      M  SAL BAHADUR BARAILI
2  SUDHA DEVI DARUKA  2030-01-01      F    SAWAR MAL RANGUTA
3   RAJESH RAJ VERMA  2030-08-22      M    KRISHNA RAJ VERMA
4       NEELAM RIJAL  2029-05-21      F   TARAK PRASAD RIJAL

                    CitizenshipDetails  PassportDetails  \
0            2827|2046-01-11|Kathmandu              NaN
1  2061/30387|2041-08-29|Sankhuwasabha              NaN
2               10523|2068-08-04|Parsa              NaN
3              5237|2047-07-20|Saptari              NaN
4              22961|2052-08-13|Morang              NaN

   DrivingLicenseDetails VoterIDDetails PANDetails CompanyDetails  \
0                    NaN            NaN        NaN            NaN
1                    NaN            NaN        NaN            NaN
2                    NaN            NaN        NaN            NaN
3                    NaN            NaN        NaN            NaN
4                    NaN            NaN        NaN            NaN

   IndianEmbassyDetails                                         BlackLists  \
0                   NaN  ['Bank and Financial Institutions|5432|2071-01...
1                   NaN  Bank and Financial Institutions|15073|2076-07-...
2                   NaN  Bank and Financial Institutions|14770|2076-06-...
3                   NaN  ['Bank and Financial Institutions|13189|2076-0...
4                   NaN  ['Bank and Financial Institutions|11812|2075-0...

  Account_Nature Status
0     Individual    new
1     Individual    new
2     Individual    new
3     Individual    new
4     Individual    new
                Name         DOB Gender           FatherName  \
0     BALRAM PRADHAN  2015-03-15      M     JITENDRA PRADHAN
1     BHADRA BARAILI  2004-11-22      M  SAL BAHADUR BARAILI
2  SUDHA DEVI DARUKA  2030-01-01      F    SAWAR MAL RANGUTA
3   RAJESH RAJ VERMA  2030-08-22      M    KRISHNA RAJ VERMA
4       NEELAM RIJAL  2029-05-21      F   TARAK PRASAD RIJAL

                    CitizenshipDetails  PassportDetails  \
0            2827|2046-01-11|Kathmandu              NaN
1  2061/30387|2041-08-29|Sankhuwasabha              NaN
2               10523|2068-08-04|Parsa              NaN
3              5237|2047-07-20|Saptari              NaN
4              22961|2052-08-13|Morang              NaN

   DrivingLicenseDetails VoterIDDetails PANDetails CompanyDetails  \
0                    NaN            NaN        NaN            NaN
1                    NaN            NaN        NaN            NaN
2                    NaN            NaN        NaN            NaN
3                    NaN            NaN        NaN            NaN
4                    NaN            NaN        NaN            NaN

   IndianEmbassyDetails                                         BlackLists  \
0                   NaN  ['Bank and Financial Institutions|5432|2071-01...
1                   NaN  Bank and Financial Institutions|15073|2076-07-...
2                   NaN  Bank and Financial Institutions|14770|2076-06-...
3                   NaN  ['Bank and Financial Institutions|13189|2076-0...
4                   NaN  ['Bank and Financial Institutions|11812|2075-0...

  Account_Nature Status
0     Individual    new
1     Individual    new
2     Individual    new
3     Individual    new
4     Individual    new
                Name         DOB Gender           FatherName  \
0     BALRAM PRADHAN  2015-03-15      M     JITENDRA PRADHAN
1     BHADRA BARAILI  2004-11-22      M  SAL BAHADUR BARAILI
2  SUDHA DEVI DARUKA  2030-01-01      F    SAWAR MAL RANGUTA
3   RAJESH RAJ VERMA  2030-08-22      M    KRISHNA RAJ VERMA
4       NEELAM RIJAL  2029-05-21      F   TARAK PRASAD RIJAL

                    CitizenshipDetails  PassportDetails  \
0            2827|2046-01-11|Kathmandu              NaN
1  2061/30387|2041-08-29|Sankhuwasabha              NaN
2               10523|2068-08-04|Parsa              NaN
3              5237|2047-07-20|Saptari              NaN
4              22961|2052-08-13|Morang              NaN

   DrivingLicenseDetails VoterIDDetails PANDetails CompanyDetails  \
0                    NaN            NaN        NaN            NaN
1                    NaN            NaN        NaN            NaN
2                    NaN            NaN        NaN            NaN
3                    NaN            NaN        NaN            NaN
4                    NaN            NaN        NaN            NaN

   IndianEmbassyDetails                                         BlackLists  \
0                   NaN  ['Bank and Financial Institutions|5432|2071-01...
1                   NaN  Bank and Financial Institutions|15073|2076-07-...
2                   NaN  Bank and Financial Institutions|14770|2076-06-...
3                   NaN  ['Bank and Financial Institutions|13189|2076-0...
4                   NaN  ['Bank and Financial Institutions|11812|2075-0...

  Account_Nature Status
0     Individual    new
1     Individual    new
2     Individual    new
3     Individual    new
4     Individual    new
                Name         DOB Gender           FatherName  \
0     BALRAM PRADHAN  2015-03-15      M     JITENDRA PRADHAN
1     BHADRA BARAILI  2004-11-22      M  SAL BAHADUR BARAILI
2  SUDHA DEVI DARUKA  2030-01-01      F    SAWAR MAL RANGUTA
3   RAJESH RAJ VERMA  2030-08-22      M    KRISHNA RAJ VERMA
4       NEELAM RIJAL  2029-05-21      F   TARAK PRASAD RIJAL

                    CitizenshipDetails  PassportDetails  \
0            2827|2046-01-11|Kathmandu              NaN
1  2061/30387|2041-08-29|Sankhuwasabha              NaN
2               10523|2068-08-04|Parsa              NaN
3              5237|2047-07-20|Saptari              NaN
4              22961|2052-08-13|Morang              NaN

   DrivingLicenseDetails VoterIDDetails PANDetails CompanyDetails  \
0                    NaN            NaN        NaN            NaN
1                    NaN            NaN        NaN            NaN
2                    NaN            NaN        NaN            NaN
3                    NaN            NaN        NaN            NaN
4                    NaN            NaN        NaN            NaN

   IndianEmbassyDetails                                         BlackLists  \
0                   NaN  ['Bank and Financial Institutions|5432|2071-01...
1                   NaN  Bank and Financial Institutions|15073|2076-07-...
2                   NaN  Bank and Financial Institutions|14770|2076-06-...
3                   NaN  ['Bank and Financial Institutions|13189|2076-0...
4                   NaN  ['Bank and Financial Institutions|11812|2075-0...

  Account_Nature Status
0     Individual    new
1     Individual    new
2     Individual    new
3     Individual    new
4     Individual    new
                Name         DOB Gender           FatherName  \
0     BALRAM PRADHAN  2015-03-15      M     JITENDRA PRADHAN
1     BHADRA BARAILI  2004-11-22      M  SAL BAHADUR BARAILI
2  SUDHA DEVI DARUKA  2030-01-01      F    SAWAR MAL RANGUTA
3   RAJESH RAJ VERMA  2030-08-22      M    KRISHNA RAJ VERMA
4       NEELAM RIJAL  2029-05-21      F   TARAK PRASAD RIJAL

                    CitizenshipDetails  PassportDetails  \
0            2827|2046-01-11|Kathmandu              NaN
1  2061/30387|2041-08-29|Sankhuwasabha              NaN
2               10523|2068-08-04|Parsa              NaN
3              5237|2047-07-20|Saptari              NaN
4              22961|2052-08-13|Morang              NaN

   DrivingLicenseDetails VoterIDDetails PANDetails CompanyDetails  \
0                    NaN            NaN        NaN            NaN
1                    NaN            NaN        NaN            NaN
2                    NaN            NaN        NaN            NaN
3                    NaN            NaN        NaN            NaN
4                    NaN            NaN        NaN            NaN

   IndianEmbassyDetails                                         BlackLists  \
0                   NaN  ['Bank and Financial Institutions|5432|2071-01...
1                   NaN  Bank and Financial Institutions|15073|2076-07-...
2                   NaN  Bank and Financial Institutions|14770|2076-06-...
3                   NaN  ['Bank and Financial Institutions|13189|2076-0...
4                   NaN  ['Bank and Financial Institutions|11812|2075-0...

  Account_Nature Status
0     Individual    new
1     Individual    new
2     Individual    new
3     Individual    new
4     Individual    new
                Name         DOB Gender           FatherName  \
0     BALRAM PRADHAN  2015-03-15      M     JITENDRA PRADHAN
1     BHADRA BARAILI  2004-11-22      M  SAL BAHADUR BARAILI
2  SUDHA DEVI DARUKA  2030-01-01      F    SAWAR MAL RANGUTA
3   RAJESH RAJ VERMA  2030-08-22      M    KRISHNA RAJ VERMA
4       NEELAM RIJAL  2029-05-21      F   TARAK PRASAD RIJAL

                    CitizenshipDetails  PassportDetails  \
0            2827|2046-01-11|Kathmandu              NaN
1  2061/30387|2041-08-29|Sankhuwasabha              NaN
2               10523|2068-08-04|Parsa              NaN
3              5237|2047-07-20|Saptari              NaN
4              22961|2052-08-13|Morang              NaN

   DrivingLicenseDetails VoterIDDetails PANDetails CompanyDetails  \
0                    NaN            NaN        NaN            NaN
1                    NaN            NaN        NaN            NaN
2                    NaN            NaN        NaN            NaN
3                    NaN            NaN        NaN            NaN
4                    NaN            NaN        NaN            NaN

   IndianEmbassyDetails                                         BlackLists  \

In [43]:
item_df['Account_Nature'].unique()

array(['Individual'], dtype=object)