In [12]:
import sqlite3
import pandas as pd

In [13]:
con = sqlite3.connect(r'D:\prime_bot_dev\Prime-CIB\CIB_BOT_Delta-Screening\output\cib_delta_screening.db')
cur = con.cursor()

query = f'''
        select * from  cib_users
        where Status = 'new';
        '''
con.row_factory = sqlite3.Row
data = con.execute(query).fetchall()
if data:
    temp_value = [{str(key): item[key] for key in item.keys()} for item in data]

In [15]:
df = pd.DataFrame(temp_value)

In [16]:
df.head()

,Name,DOB,Gender,FatherName,CitizenshipDetails,PassportDetails,DrivingLicenseDetails,VoterIDDetails,PANDetails,CompanyDetails,IndianEmbassyDetails,BlackLists,Account_Nature,Status
0,JAISARI RANA,2043-02-14,F,MODAR RANA,"['0663046-844|2063-11-09|Banke', '0663046/844|...",,,,602298847|2071-04-22|Banke,nan,,Bank and Financial Institutions|87349|2080-06-...,Individual,new
1,ASHOK PARAJULI,2039-04-29,M,PASHUPATI PARAJULI,80209|2055-11-26|Kaski,,,,613715562|2077-06-06|Kaski,nan,,Bank and Financial Institutions|87356|2080-06-...,Individual,new
2,SANJAYA CHAUDHARY,2049-05-27,M,RAMESH PRASAD CHAUDHARY,051051/19|2066-10-06|Morang,,,,,nan,,Bank and Financial Institutions|87353|2080-06-...,Individual,new
3,RAMESH PRASAD CHOUDHARI,2016-03-28,M,KHUSHI LAL THARU,05/1069|2039-03-28|Morang,,,,,nan,,Bank and Financial Institutions|87353|2080-06-...,Individual,new
4,CHAKRA BAHADUR BAM (BOGATI),2037-10-04,M,BHIM BAHADUR BOGATI,32444|2056-11-13|Kailali,,,,,nan,,Bank and Financial Institutions|87347|2080-06-...,Individual,new

In [17]:
if 'Individual' in df['Account_Nature'].values:
    individual_df = df[df['Account_Nature'] == 'Individual']
    # Do something with individual_df
elif 'Institutions' in df['Account_Nature'].values:
    institutions_df = df[df['Account_Nature'] == 'Institutions']
    # Do something with institutions_df
else:
    print('None type of Nature')

In [18]:
individual_df.head()

,Name,DOB,Gender,FatherName,CitizenshipDetails,PassportDetails,DrivingLicenseDetails,VoterIDDetails,PANDetails,CompanyDetails,IndianEmbassyDetails,BlackLists,Account_Nature,Status
0,JAISARI RANA,2043-02-14,F,MODAR RANA,"['0663046-844|2063-11-09|Banke', '0663046/844|...",,,,602298847|2071-04-22|Banke,nan,,Bank and Financial Institutions|87349|2080-06-...,Individual,new
1,ASHOK PARAJULI,2039-04-29,M,PASHUPATI PARAJULI,80209|2055-11-26|Kaski,,,,613715562|2077-06-06|Kaski,nan,,Bank and Financial Institutions|87356|2080-06-...,Individual,new
2,SANJAYA CHAUDHARY,2049-05-27,M,RAMESH PRASAD CHAUDHARY,051051/19|2066-10-06|Morang,,,,,nan,,Bank and Financial Institutions|87353|2080-06-...,Individual,new
3,RAMESH PRASAD CHOUDHARI,2016-03-28,M,KHUSHI LAL THARU,05/1069|2039-03-28|Morang,,,,,nan,,Bank and Financial Institutions|87353|2080-06-...,Individual,new
4,CHAKRA BAHADUR BAM (BOGATI),2037-10-04,M,BHIM BAHADUR BOGATI,32444|2056-11-13|Kailali,,,,,nan,,Bank and Financial Institutions|87347|2080-06-...,Individual,new

In [10]:
client_table_df = pd.read_excel(r'D:\prime_bot_dev\Prime-CIB\CIB_BOT_Delta-Screening\output\client_tablee.xlsx')

In [30]:
import Levenshtein as lev
import pandas as pd
import ast

# Sample DataFrames (replace these with your actual DataFrames)
for index, item in individual_df['CitizenshipDetails'].items():
    item = str(item)
    
    # Check if item contains commas
    if ',' in item:
        citizen_list = ast.literal_eval(item)
        if isinstance(citizen_list, list):
            for data in citizen_list:
                # Check if '|' exists before splitting
                if '|' in data:
                    citizen_number = data.split('|')[1]
                    individual_df.at[index, 'CitizenshipNumber'] = citizen_number
                else:
                    print(f"Invalid format in item: {data}")
    else:
        # Check if '|' exists before splitting
        if '|' in item:
            citizen_number = item.split('|')[1]
            # print(citizen_number)
            individual_df.at[index, 'CitizenshipNumber'] = citizen_number
        else:
            print(f"Invalid format in item: {item}")
individual_df['CitizenshipNumber'] = individual_df['CitizenshipNumber'].astype(str)
individual_df['Name'] = individual_df['Name'].astype(str)
individual_df['FatherName'] = individual_df['FatherName'].astype(str)
individual_df['DOB'] = individual_df['DOB'].astype(str)

client_table_df['name'] = client_table_df['name'].astype(str)
client_table_df['fathersname'] = client_table_df['fathersname'].astype(str)
client_table_df['citizenshipno'] = client_table_df['citizenshipno'].astype(str)
client_table_df['dateofbirth'] = client_table_df['dateofbirth'].astype(str)

# Function to calculate Levenshtein ratio and convert to percentage
def calculate_similarity(row, client_data):
    try:
        similarity_scores = [lev.ratio(str(row), str(client_item)) for client_item in client_data]
        avg_similarity = (sum(similarity_scores) / len(similarity_scores)) * 100
        return avg_similarity
    except Exception as e:
        print(f"Error processing item: {row}. Error: {e}")
        return 0  # or any other default value indicating an error

# Calculate similarities using apply function
cib_similarity = pd.DataFrame({
    'name_percent': individual_df['Name'].apply(lambda x: calculate_similarity(x, client_table_df['name'])),
    'father_name_percent': individual_df['FatherName'].apply(lambda x: calculate_similarity(x, client_table_df['fathersname'])),
    'citizenship_percent': individual_df['CitizenshipNumber'].apply(lambda x: calculate_similarity(x, client_table_df['citizenshipno'])),
    'dob_percent': individual_df['DOB'].apply(lambda x: calculate_similarity(x, client_table_df['dateofbirth']))
})

# cbs_similarity = pd.DataFrame({
#     'NameSimilarity': client_table_df['name'].apply(lambda x: calculate_similarity(x, individual_df['Name'])),
#     'FatherNameSimilarity': client_table_df['fathersname'].apply(lambda x: calculate_similarity(x, individual_df['FatherName'])),
#     'CitizenshipSimilarity': client_table_df['citizenshipno'].apply(lambda x: calculate_similarity(x, individual_df['CitizenshipNumber'])),
#     'DOBSimilarity': client_table_df['dateofbirth'].apply(lambda x: calculate_similarity(x, individual_df['DOB']))
# })

# Rest of your code...

Invalid format in item:

C:\Users\Administrator\AppData\Local\Temp\ipykernel_13272\1410287645.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual_df['CitizenshipNumber'] = individual_df['CitizenshipNumber'].astype(str)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_13272\1410287645.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual_df['Name'] = individual_df['Name'].astype(str)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_13272\1410287645.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual_df['FatherName'] = individual_df['FatherName'].astype(str)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_13272\1410287645.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual_df['DOB'] = individual_df['DOB'].astype(str)

In [32]:
cib_similarity.shape

(212, 4)

In [33]:
cib_similarity.head()

   name_percent  father_name_percent  citizenship_percent  dob_percent
0     37.923036            31.219171            19.670453    26.482759
1     34.831691            30.822782            18.434855    27.681379
2     37.973428            35.677158            16.703090    27.601379
3     38.856572            31.938362            18.472870    29.150345
4     34.057169            33.008437            18.369485    31.485517

In [26]:
similarity_df_apply_cbs.shape

(5000, 4)

In [38]:
import Levenshtein as lev
import pandas as pd
import ast

# Sample DataFrames (replace these with your actual DataFrames)
for index, item in individual_df['CitizenshipDetails'].items():
    item = str(item)
    
    # Check if item contains commas
    if ',' in item:
        citizen_list = ast.literal_eval(item)
        if isinstance(citizen_list, list):
            for data in citizen_list:
                # Check if '|' exists before splitting
                if '|' in data:
                    citizen_number = data.split('|')[1]
                    individual_df.at[index, 'CitizenshipNumber'] = citizen_number
                else:
                    print(f"Invalid format in item: {data}")
    else:
        # Check if '|' exists before splitting
        if '|' in item:
            citizen_number = item.split('|')[1]
            # print(citizen_number)
            individual_df.at[index, 'CitizenshipNumber'] = citizen_number
        else:
            print(f"Invalid format in item: {item}")
individual_df['CitizenshipNumber'] = individual_df['CitizenshipNumber'].astype(str)
individual_df['Name'] = individual_df['Name'].astype(str)
individual_df['FatherName'] = individual_df['FatherName'].astype(str)
individual_df['DOB'] = individual_df['DOB'].astype(str)

client_table_df['name'] = client_table_df['name'].astype(str)
client_table_df['fathersname'] = client_table_df['fathersname'].astype(str)
client_table_df['citizenshipno'] = client_table_df['citizenshipno'].astype(str)
client_table_df['dateofbirth'] = client_table_df['dateofbirth'].astype(str)

# Function to calculate Levenshtein ratio and convert to percentage
def calculate_similarity(row, client_data):
    try:
        similarity_scores = [lev.ratio(str(row), str(client_item)) for client_item in client_data]
        avg_similarity = (sum(similarity_scores) / len(similarity_scores)) * 100
        return avg_similarity
    except Exception as e:
        print(f"Error processing item: {row}. Error: {e}")
        return 0  # or any other default value indicating an error

# Calculate similarities using apply function
individual_df['name_percent'] = individual_df['Name'].apply(lambda x: calculate_similarity(x, client_table_df['name']))
individual_df['father_name_percent'] = individual_df['FatherName'].apply(lambda x: calculate_similarity(x, client_table_df['fathersname']))
individual_df['citizenship_percent'] = individual_df['CitizenshipNumber'].apply(lambda x: calculate_similarity(x, client_table_df['citizenshipno']))
individual_df['dob_percent'] = individual_df['DOB'].apply(lambda x: calculate_similarity(x, client_table_df['dateofbirth']))


# Calculate weighted similarity percentages
individual_df['weightage_name'] = individual_df['name_percent'] * Weitage_data['Name'] / 100
individual_df['weightage_fathername'] = individual_df['father_name_percent'] * Weitage_data['father_name'] / 100
individual_df['weightage_dob'] = individual_df['dob_percent'] * Weitage_data['dob'] / 100
individual_df['weightage_citizenship_no'] = individual_df['citizenship_percent'] * Weitage_data['citizenship_no'] / 100

Invalid format in item:

C:\Users\Administrator\AppData\Local\Temp\ipykernel_13272\393429975.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual_df['CitizenshipNumber'] = individual_df['CitizenshipNumber'].astype(str)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_13272\393429975.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual_df['Name'] = individual_df['Name'].astype(str)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_13272\393429975.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual_df['FatherName'] = individual_df['FatherName'].astype(str)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_13272\393429975.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual_df['DOB'] = individual_df['DOB'].astype(str)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_13272\393429975.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual_df['name_percent'] = individual_df['Name'].apply(lambda x: calculate_similarity(x, client_table_df['name']))
C:\Users\Administrator\AppData\Local\Temp\ipykernel_13272\393429975.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual_df['father_name_percent'] = individual_df['FatherName'].apply(lambda x: calculate_similarity(x, client_table_df['fathersname']))
C:\Users\Administrator\AppData\Local\Temp\ipykernel_13272\393429975.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual_df['citizenship_percent'] = individual_df['CitizenshipNumber'].apply(lambda x: calculate_similarity(x, client_table_df['citizenshipno']))
C:\Users\Administrator\AppData\Local\Temp\ipykernel_13272\393429975.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual_df['dob_percent'] = individual_df['DOB'].apply(lambda x: calculate_similarity(x, client_table_df['dateofbirth']))

In [39]:
individual_df.head()

,Name,DOB,Gender,FatherName,CitizenshipDetails,PassportDetails,DrivingLicenseDetails,VoterIDDetails,PANDetails,CompanyDetails,IndianEmbassyDetails,BlackLists,Account_Nature,Status,CitizenshipNumber,index,name_percent,father_name_percent,citizenship_percent,dob_percent
0,JAISARI RANA,2043-02-14,F,MODAR RANA,"['0663046-844|2063-11-09|Banke', '0663046/844|...",,,,602298847|2071-04-22|Banke,nan,,Bank and Financial Institutions|87349|2080-06-...,Individual,new,2063-11-09,0,37.923036,31.219171,19.670453,26.482759
1,ASHOK PARAJULI,2039-04-29,M,PASHUPATI PARAJULI,80209|2055-11-26|Kaski,,,,613715562|2077-06-06|Kaski,nan,,Bank and Financial Institutions|87356|2080-06-...,Individual,new,2055-11-26,1,34.831691,30.822782,18.434855,27.681379
2,SANJAYA CHAUDHARY,2049-05-27,M,RAMESH PRASAD CHAUDHARY,051051/19|2066-10-06|Morang,,,,,nan,,Bank and Financial Institutions|87353|2080-06-...,Individual,new,2066-10-06,2,37.973428,35.677158,16.703090,27.601379
3,RAMESH PRASAD CHOUDHARI,2016-03-28,M,KHUSHI LAL THARU,05/1069|2039-03-28|Morang,,,,,nan,,Bank and Financial Institutions|87353|2080-06-...,Individual,new,2039-03-28,3,38.856572,31.938362,18.472870,29.150345
4,CHAKRA BAHADUR BAM (BOGATI),2037-10-04,M,BHIM BAHADUR BOGATI,32444|2056-11-13|Kailali,,,,,nan,,Bank and Financial Institutions|87347|2080-06-...,Individual,new,2056-11-13,4,34.057169,33.008437,18.369485,31.485517

In [ ]:
individual_df['name_percent'] = individual_df['Name'].apply(lambda x: calculate_similarity(x, client_table_df['name']))
individual_df['father_name_percent'] = individual_df['FatherName'].apply(lambda x: calculate_similarity(x, client_table_df['fathersname']))
individual_df['citizenship_percent'] = individual_df['CitizenshipNumber'].apply(lambda x: calculate_similarity(x, client_table_df['citizenshipno']))
individual_df['dob_percent'] = individual_df['DOB'].apply(lambda x: calculate_similarity(x, client_table_df['dateofbirth']))

In [40]:
Weitage_data = {
    'Name':40,
    'citizenship_no':20,
    'father_name':20,
    'dob':20
}

In [62]:
import Levenshtein as lev
import pandas as pd
import ast


Weitage_data = {
    'Name':40,
    'citizenship_no':20,
    'father_name':20,
    'dob':20
}
# Sample DataFrames (replace these with your actual DataFrames)
for index, item in individual_df['CitizenshipDetails'].items():
    item = str(item)
    
    # Check if item contains commas
    if ',' in item:
        citizen_list = ast.literal_eval(item)
        if isinstance(citizen_list, list):
            for data in citizen_list:
                # Check if '|' exists before splitting
                if '|' in data:
                    citizen_number = data.split('|')[1]
                    individual_df.at[index, 'CitizenshipNumber'] = citizen_number
                else:
                    print(f"Invalid format in item: {data}")
    else:
        # Check if '|' exists before splitting
        if '|' in item:
            citizen_number = item.split('|')[1]
            # print(citizen_number)
            individual_df.at[index, 'CitizenshipNumber'] = citizen_number
        else:
            print(f"Invalid format in item: {item}")
individual_df['CitizenshipNumber'] = individual_df['CitizenshipNumber'].astype(str)
individual_df['Name'] = individual_df['Name'].astype(str)
individual_df['FatherName'] = individual_df['FatherName'].astype(str)
individual_df['DOB'] = individual_df['DOB'].astype(str)

client_table_df['name'] = client_table_df['name'].astype(str)
client_table_df['fathersname'] = client_table_df['fathersname'].astype(str)
client_table_df['citizenshipno'] = client_table_df['citizenshipno'].astype(str)
client_table_df['dateofbirth'] = client_table_df['dateofbirth'].astype(str)

# Function to calculate Levenshtein ratio and convert to percentage
def calculate_similarity(row, client_data):
    row = row.lower()
    try:
        similarity_scores = [lev.ratio(str(row), str(client_item.lower())) for client_item in client_data]
        avg_similarity = (sum(similarity_scores) / len(similarity_scores)) * 100
        return avg_similarity
    except Exception as e:
        print(f"Error processing item: {row}. Error: {e}")
        return 0  # or any other default value indicating an error

# Calculate similarities using apply function
individual_df['name_percent'] = individual_df['Name'].apply(lambda x: calculate_similarity(x, client_table_df['name']))
individual_df['father_name_percent'] = individual_df['FatherName'].apply(lambda x: calculate_similarity(x, client_table_df['fathersname']))
individual_df['citizenship_percent'] = individual_df['CitizenshipNumber'].apply(lambda x: calculate_similarity(x, client_table_df['citizenshipno']))
individual_df['dob_percent'] = individual_df['DOB'].apply(lambda x: calculate_similarity(x, client_table_df['dateofbirth']))


# Calculate weighted similarity percentages
individual_df['weightage_name'] = individual_df['name_percent'] * Weitage_data['Name'] / 100
individual_df['weightage_fathername'] = individual_df['father_name_percent'] * Weitage_data['father_name'] / 100
individual_df['weightage_dob'] = individual_df['dob_percent'] * Weitage_data['dob'] / 100
individual_df['weightage_citizenship_no'] = individual_df['citizenship_percent'] * Weitage_data['citizenship_no'] / 100

individual_df['total_weight'] = individual_df['weightage_name'] + individual_df['weightage_fathername'] + individual_df['weightage_dob'] + individual_df['weightage_citizenship_no']

Invalid format in item:

C:\Users\Administrator\AppData\Local\Temp\ipykernel_13272\1186336302.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual_df['CitizenshipNumber'] = individual_df['CitizenshipNumber'].astype(str)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_13272\1186336302.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual_df['Name'] = individual_df['Name'].astype(str)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_13272\1186336302.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual_df['FatherName'] = individual_df['FatherName'].astype(str)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_13272\1186336302.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual_df['DOB'] = individual_df['DOB'].astype(str)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_13272\1186336302.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual_df['name_percent'] = individual_df['Name'].apply(lambda x: calculate_similarity(x, client_table_df['name']))
C:\Users\Administrator\AppData\Local\Temp\ipykernel_13272\1186336302.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual_df['father_name_percent'] = individual_df['FatherName'].apply(lambda x: calculate_similarity(x, client_table_df['fathersname']))
C:\Users\Administrator\AppData\Local\Temp\ipykernel_13272\1186336302.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual_df['citizenship_percent'] = individual_df['CitizenshipNumber'].apply(lambda x: calculate_similarity(x, client_table_df['citizenshipno']))
C:\Users\Administrator\AppData\Local\Temp\ipykernel_13272\1186336302.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual_df['dob_percent'] = individual_df['DOB'].apply(lambda x: calculate_similarity(x, client_table_df['dateofbirth']))
C:\Users\Administrator\AppData\Local\Temp\ipykernel_13272\1186336302.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual_df['weightage_name'] = individual_df['name_percent'] * Weitage_data['Name'] / 100
C:\Users\Administrator\AppData\Local\Temp\ipykernel_13272\1186336302.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual_df['weightage_fathername'] = individual_df['father_name_percent'] * Weitage_data['father_name'] / 100
C:\Users\Administrator\AppData\Local\Temp\ipykernel_13272\1186336302.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual_df['weightage_dob'] = individual_df['dob_percent'] * Weitage_data['dob'] / 100
C:\Users\Administrator\AppData\Local\Temp\ipykernel_13272\1186336302.py:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual_df['weightage_citizenship_no'] = individual_df['citizenship_percent'] * Weitage_data['citizenship_no'] / 100
C:\Users\Administrator\AppData\Local\Temp\ipykernel_13272\1186336302.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual_df['total_weight'] = individual_df['weightage_name'] + individual_df['weightage_fathername'] + individual_df['weightage_dob'] + individual_df['weightage_citizenship_no']

In [44]:
individual_df.head()

,Name,DOB,Gender,FatherName,CitizenshipDetails,PassportDetails,DrivingLicenseDetails,VoterIDDetails,PANDetails,CompanyDetails,...,index,name_percent,father_name_percent,citizenship_percent,dob_percent,weightage_name,weightage_fathername,weightage_dob,weightage_citizenship_no,total_weight
0,JAISARI RANA,2043-02-14,F,MODAR RANA,"['0663046-844|2063-11-09|Banke', '0663046/844|...",,,,602298847|2071-04-22|Banke,nan,...,0,37.923036,31.219171,19.670453,26.482759,15.169214,6.243834,5.296552,3.934091,30.643691
1,ASHOK PARAJULI,2039-04-29,M,PASHUPATI PARAJULI,80209|2055-11-26|Kaski,,,,613715562|2077-06-06|Kaski,nan,...,1,34.831691,30.822782,18.434855,27.681379,13.932677,6.164556,5.536276,3.686971,29.320480
2,SANJAYA CHAUDHARY,2049-05-27,M,RAMESH PRASAD CHAUDHARY,051051/19|2066-10-06|Morang,,,,,nan,...,2,37.973428,35.677158,16.703090,27.601379,15.189371,7.135432,5.520276,3.340618,31.185697
3,RAMESH PRASAD CHOUDHARI,2016-03-28,M,KHUSHI LAL THARU,05/1069|2039-03-28|Morang,,,,,nan,...,3,38.856572,31.938362,18.472870,29.150345,15.542629,6.387672,5.830069,3.694574,31.454944
4,CHAKRA BAHADUR BAM (BOGATI),2037-10-04,M,BHIM BAHADUR BOGATI,32444|2056-11-13|Kailali,,,,,nan,...,4,34.057169,33.008437,18.369485,31.485517,13.622868,6.601687,6.297103,3.673897,30.195556

In [63]:
filtered_individual_df = individual_df[individual_df['total_weight'] > 40]

In [64]:
filtered_individual_df

Empty DataFrame
Columns: [Name, DOB, Gender, FatherName, CitizenshipDetails, PassportDetails, DrivingLicenseDetails, VoterIDDetails, PANDetails, CompanyDetails, IndianEmbassyDetails, BlackLists, Account_Nature, Status, CitizenshipNumber, index, name_percent, father_name_percent, citizenship_percent, dob_percent, weightage_name, weightage_fathername, weightage_dob, weightage_citizenship_no, total_weight]
Index: []

[0 rows x 25 columns]

In [65]:
df = pd.read_excel(r'D:\prime_bot_dev\Prime-CIB\CIB_BOT_Delta-Screening\weitage.xlsx')

In [66]:
df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'typeofclient', 'clientcategory',
       'ownershiptype', 'clientcode', 'name', 'firstname', 'middlename',
       'lastname', 'jointname', 'address1', 'dateofbirth', 'citizenshipno',
       'citizendistrict', 'fathersname', 'gfathersname', 'spousename',
       'clientstatus', 'mobileno', 'phone', 'key_risk_grade', 'reason',
       'pannumber', 'regnum', 'name_percent', 'name_weight',
       'fathersname_percent', 'fathersname_weight', 'dateofbirth_percent',
       'dateofbirth_weight', 'citizenshipno_percent', 'citizenshipno_weight'],
      dtype='object')

In [67]:
df.head()

,Unnamed: 0.1,Unnamed: 0,typeofclient,clientcategory,ownershiptype,clientcode,name,firstname,middlename,lastname,...,pannumber,regnum,name_percent,name_weight,fathersname_percent,fathersname_weight,dateofbirth_percent,dateofbirth_weight,citizenshipno_percent,citizenshipno_weight
0,0,0,1.0,NaN,001 Individual,1,DEEPAK ADHIKARI,DEEPAK,NaN,ADHIKARI,...,103513700.0,NaN,23.08,9.232,38.89,7.778,34.48,6.896,16.67,3.334
1,1,1,1.0,NaN,001 Individual,2,KAMAL KUMAR CHAUDHARY,KAMAL,KUMAR,CHAUDHARY,...,NaN,NaN,31.25,12.500,35.29,7.058,27.59,5.518,24.00,4.800
2,2,2,2.0,Oth,NaN,3,JIRI CAMPUS,JIRI CAMPUS,NaN,NaN,...,999999999.0,NaN,27.27,10.908,19.05,3.810,27.59,5.518,0.00,0.000
3,3,3,1.0,NaN,001 Individual,4,PRITY DHANA RAI,PRITY,DHANA,RAI,...,NaN,NaN,30.77,12.308,70.59,14.118,34.48,6.896,14.29,2.858
4,4,4,1.0,NaN,001 Individual,5,RONESH STHAPIT,RONESH,NaN,STHAPIT,...,NaN,NaN,16.00,6.400,30.00,6.000,27.59,5.518,0.00,0.000

In [19]:
import Levenshtein as lev
import jellyfish
import pandas as pd
import ast

Weitage_data = {
    'Name': 40,
    'citizenship_no': 20,
    'father_name': 20,
    'dob': 20
}

# Sample DataFrames (replace these with your actual DataFrames)
for index, item in individual_df['CitizenshipDetails'].items():
    item = str(item)
    
    # Check if item contains commas
    if ',' in item:
        citizen_list = ast.literal_eval(item)
        if isinstance(citizen_list, list):
            for data in citizen_list:
                # Check if '|' exists before splitting
                if '|' in data:
                    citizen_number = data.split('|')[1]
                    individual_df.at[index, 'CitizenshipNumber'] = citizen_number
                else:
                    print(f"Invalid format in item: {data}")
    else:
        # Check if '|' exists before splitting
        if '|' in item:
            citizen_number = item.split('|')[1]
            # print(citizen_number)
            individual_df.at[index, 'CitizenshipNumber'] = citizen_number
        else:
            print(f"Invalid format in item: {item}")
individual_df['CitizenshipNumber'] = individual_df['CitizenshipNumber'].astype(str)
individual_df['Name'] = individual_df['Name'].astype(str)
individual_df['FatherName'] = individual_df['FatherName'].astype(str)
individual_df['DOB'] = individual_df['DOB'].astype(str)

client_table_df['name'] = client_table_df['name'].astype(str)
client_table_df['fathersname'] = client_table_df['fathersname'].astype(str)
client_table_df['citizenshipno'] = client_table_df['citizenshipno'].astype(str)
client_table_df['dateofbirth'] = client_table_df['dateofbirth'].astype(str)
# Function to calculate similarity using Soundex and Levenshtein
def calculate_similarity(row, client_data, soundex=True):
    row = row.lower()
    try:
        if soundex:
            row_soundex = jellyfish.soundex(row)
            similarity_scores = [lev.ratio(row_soundex, jellyfish.soundex(str(client_item).lower())) for client_item in client_data]
        else:
            similarity_scores = [lev.ratio(str(row), str(client_item).lower()) for client_item in client_data]
        
        avg_similarity = (sum(similarity_scores) / len(similarity_scores)) * 100
        return avg_similarity
    except Exception as e:
        print(f"Error processing item: {row}. Error: {e}")
        return 0  # or any other default value indicating an error

# Calculate similarities using apply function with Soundex
individual_df['name_percent'] = individual_df['Name'].apply(lambda x: calculate_similarity(x, client_table_df['name']))
individual_df['father_name_percent'] = individual_df['FatherName'].apply(lambda x: calculate_similarity(x, client_table_df['fathersname']))
individual_df['citizenship_percent'] = individual_df['CitizenshipNumber'].apply(lambda x: calculate_similarity(x, client_table_df['citizenshipno']))
individual_df['dob_percent'] = individual_df['DOB'].apply(lambda x: calculate_similarity(x, client_table_df['dateofbirth']))

# Calculate weighted similarity percentages
individual_df['weightage_name'] = individual_df['name_percent'] * Weitage_data['Name'] / 100
individual_df['weightage_fathername'] = individual_df['father_name_percent'] * Weitage_data['father_name'] / 100
individual_df['weightage_dob'] = individual_df['dob_percent'] * Weitage_data['dob'] / 100
individual_df['weightage_citizenship_no'] = individual_df['citizenship_percent'] * Weitage_data['citizenship_no'] / 100

individual_df['total_weight'] = individual_df['weightage_name'] + individual_df['weightage_fathername'] + individual_df['weightage_dob'] + individual_df['weightage_citizenship_no']

C:\Users\Administrator\AppData\Local\Temp\ipykernel_21980\3365693320.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual_df.at[index, 'CitizenshipNumber'] = citizen_number
C:\Users\Administrator\AppData\Local\Temp\ipykernel_21980\3365693320.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual_df['CitizenshipNumber'] = individual_df['CitizenshipNumber'].astype(str)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_21980\3365693320.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual_df['Name'] = individual_df['Name'].astype(str)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_21980\3365693320.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual_df['FatherName'] = individual_df['FatherName'].astype(str)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_21980\3365693320.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual_df['DOB'] = individual_df['DOB'].astype(str)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_21980\3365693320.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual_df['name_percent'] = individual_df['Name'].apply(lambda x: calculate_similarity(x, client_table_df['name']))
C:\Users\Administrator\AppData\Local\Temp\ipykernel_21980\3365693320.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual_df['father_name_percent'] = individual_df['FatherName'].apply(lambda x: calculate_similarity(x, client_table_df['fathersname']))
C:\Users\Administrator\AppData\Local\Temp\ipykernel_21980\3365693320.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual_df['citizenship_percent'] = individual_df['CitizenshipNumber'].apply(lambda x: calculate_similarity(x, client_table_df['citizenshipno']))
C:\Users\Administrator\AppData\Local\Temp\ipykernel_21980\3365693320.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual_df['dob_percent'] = individual_df['DOB'].apply(lambda x: calculate_similarity(x, client_table_df['dateofbirth']))
C:\Users\Administrator\AppData\Local\Temp\ipykernel_21980\3365693320.py:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual_df['weightage_name'] = individual_df['name_percent'] * Weitage_data['Name'] / 100
C:\Users\Administrator\AppData\Local\Temp\ipykernel_21980\3365693320.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual_df['weightage_fathername'] = individual_df['father_name_percent'] * Weitage_data['father_name'] / 100
C:\Users\Administrator\AppData\Local\Temp\ipykernel_21980\3365693320.py:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual_df['weightage_dob'] = individual_df['dob_percent'] * Weitage_data['dob'] / 100
C:\Users\Administrator\AppData\Local\Temp\ipykernel_21980\3365693320.py:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual_df['weightage_citizenship_no'] = individual_df['citizenship_percent'] * Weitage_data['citizenship_no'] / 100
C:\Users\Administrator\AppData\Local\Temp\ipykernel_21980\3365693320.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual_df['total_weight'] = individual_df['weightage_name'] + individual_df['weightage_fathername'] + individual_df['weightage_dob'] + individual_df['weightage_citizenship_no']

In [27]:
filtered_individual_df = individual_df[individual_df['total_weight'] > 50]
filtered_individual_df

,Name,DOB,Gender,FatherName,CitizenshipDetails,PassportDetails,DrivingLicenseDetails,VoterIDDetails,PANDetails,CompanyDetails,...,CitizenshipNumber,name_percent,father_name_percent,citizenship_percent,dob_percent,weightage_name,weightage_fathername,weightage_dob,weightage_citizenship_no,total_weight
2,SANJAYA CHAUDHARY,2049-05-27,M,RAMESH PRASAD CHAUDHARY,051051/19|2066-10-06|Morang,,,,,nan,...,2066-10-06,37.815,33.910,70.855,77.060,15.126,6.782,15.412,14.171,51.491
5,BHIM KUMARI TAMANG,2030-05-03,F,NAR BAHADUR TAMANG,2026/8364|2054-11-05|Sindhuli,,,,,nan,...,2054-11-05,36.840,29.755,70.855,77.060,14.736,5.951,15.412,14.171,50.270
14,SHANKAR SHAH,2050-04-04,M,MOHAN SAHU SUDI,151090/16667|2068-08-17|Siraha,,,,,nan,...,2068-08-17,39.665,27.765,70.855,77.060,15.866,5.553,15.412,14.171,51.002
17,KRISHNA MAHATO,2054-03-18,M,BHIKHARI MAHTO KEWAT,34-01-73-00291|2073-01-09|Parsa,,,,,nan,...,2073-01-09,36.290,34.980,70.855,77.060,14.516,6.996,15.412,14.171,51.095
25,SACHIN K.C.,2055-09-07,M,BED BAHADUR KHATRI,43-01-71-06323|2071-01-25|Tanahun,,,,,nan,...,2071-01-25,40.755,21.340,70.855,77.060,16.302,4.268,15.412,14.171,50.153
26,PREM SINGH JAGARI,2045-01-07,M,JHUN SINGH JAGARI,723020/161|2063-11-14|Darchula,,,,,nan,...,2063-11-14,37.490,30.555,70.855,77.060,14.996,6.111,15.412,14.171,50.690
33,ANSHA BAHADUR YADAV,2036-01-20,M,NANDA AHIR,"['5177|2042-11-13|Rupandehi', '5177|2052-11-13...",,,,,nan,...,2052-11-13,36.305,36.925,70.855,77.060,14.522,7.385,15.412,14.171,51.490
35,SARASWATI KUMARI,2027-02-02,F,KISAN NARAYAN SAH,81164117|2045-02-02|Saptari,,,,,nan,...,2045-02-02,37.165,29.235,70.855,77.060,14.866,5.847,15.412,14.171,50.296
38,SOM PRASAD KAFLE,2021-11-12,M,INDRA PRASAD KAFLE,2547|2044-11-12|Dolakha,,,,,nan,...,2044-11-12,35.175,31.840,70.855,77.060,14.070,6.368,15.412,14.171,50.021
41,BINOD KUMAR MAHATO,2042-01-05,M,BHIKHARI MAHATO SUDI,193090/651|2063-10-16|Sarlahi,,,,,nan,...,2063-10-16,38.420,34.980,70.855,77.060,15.368,6.996,15.412,14.171,51.947
52,SANGITA PANJIYAR,2042-06-10,F,CHHETRA BAHADUR GHIMIRE,36-2-035/59|2064-07-26|Nawalparasi,,,,,nan,...,2064-07-26,41.455,24.460,70.855,77.060,16.582,4.892,15.412,14.171,51.057
60,SHARAN TAMANG,2046-01-08,M,RAMBAHADUR TAMANG,21211040/17422|2067-03-20|Ramechhap,,,,,nan,...,2067-03-20,37.680,33.865,70.855,77.060,15.072,6.773,15.412,14.171,51.428
65,SANTOSH POKHREL,2043-05-04,M,KRISHNA PRASAD POKHREL,34511|2060-07-20|Nawalparasi,,,,,nan,...,2060-07-20,41.385,34.460,70.855,77.060,16.554,6.892,15.412,14.171,53.029
67,SUN MAYA GHALE GURUNG,2047-10-04,F,SUNWAR GURUNG,"['441055/601|2064-02-11|Gorakha', '441055/601|...",,,,,nan,...,2069-01-12,35.885,34.075,70.855,77.060,14.354,6.815,15.412,14.171,50.752
76,DINESH BAHADUR DANGI,2034-01-03,M,GOBINDA BAHADUR DANGI,191/1273|2053-10-13|Dang,,,,,nan,...,2053-10-13,35.585,31.065,70.855,77.060,14.234,6.213,15.412,14.171,50.030
79,BISHNU PRASAD NEUPANE,2035-12-09,M,GANGARAM NEUPANE,24253|2052-02-07|Nawalparasi,,,,,nan,...,2052-02-07,35.720,32.685,70.855,77.060,14.288,6.537,15.412,14.171,50.408
80,MINA KUMARI RAI,2038-07-10,F,RAM PRASAD RAI,3120|2058-05-05|Morang,,,,,nan,...,2058-05-05,36.045,33.295,70.855,77.060,14.418,6.659,15.412,14.171,50.660
86,SUJITA KUMARI SAH,2054-01-05,F,DHURAN SAH,152006/16294|2071-04-04|Siraha,,,,,nan,...,2071-04-04,35.345,33.290,70.855,77.060,14.138,6.658,15.412,14.171,50.379
87,AMRESH KUMAR SAH,2046-05-15,M,RAJ KUMAR SAH,163069/23|2063-10-07|Saptari,,,,,nan,...,2063-10-07,37.385,29.030,70.855,77.060,14.954,5.806,15.412,14.171,50.343
92,ARJUN KUMAR SHRESTHA,2049-04-31,M,GHAN SHYAM SHRESTHA,28-01-066-03116|2066-05-05|Lalitpur,,,,,nan,...,2066-05-05,36.705,31.155,70.855,77.060,14.682,6.231,15.412,14.171,50.496
96,SURAJ MALLA,2031-04-03,M,TEJ BAHADUR MALLA,23020|2050-10-06|Kaski,,,,,nan,...,2050-10-06,40.025,26.690,70.855,77.060,16.010,5.338,15.412,14.171,50.931
97,BIRENDRA BAHADUR BOHORA,2048-07-27,M,RANGA BAHADUR BOHORA,701013/32|2065-01-03|Bajura,,,,,nan,...,2065-01-03,34.715,33.910,70.855,77.060,13.886,6.782,15.412,14.171,50.251
98,DHANRAJ PANDIT,2032-09-24,M,SITARAM PANDIT,183|2055-04-19|Rautahat,,,,,nan,...,2055-04-19,36.665,32.970,70.855,77.060,14.666,6.594,15.412,14.171,50.843
103,ARUN CHANDRA BIST,2054-03-17,M,SHYAM RAJ BIST,72-01-73-00374|2073-02-06|Darchula,,,,,nan,...,2073-02-06,37.660,34.075,70.855,77.060,15.064,6.815,15.412,14.171,51.462
104,BIRENDRA PRASAD YADAV,2036-02-05,M,RAM SEBAK YADAV,1809|2054-12-02|Siraha,,,,,nan,...,2054-12-02,34.715,33.910,70.855,77.060,13.886,6.782,15.412,14.171,50.251
105,DINESH AMGAIN,2045-07-11,M,RAMESH PRASAD AMGAIN,0333995|2063-10-05|Chitawan,,,,,nan,...,2063-10-05,35.765,33.910,70.855,77.060,14.306,6.782,15.412,14.171,50.671
113,ARUN CHHETRI,2048-11-02,M,SANTA BAHADUR CHHETRI,752020/500|2065-08-13|Kanchanpur,,,,,nan,...,2065-08-13,37.660,33.510,70.855,77.060,15.064,6.702,15.412,14.171,51.349
115,SANJIV GURUNG,2030-05-22,M,DAMBAR BAHADUR GURUNG,5624/45956|2074-08-06|Solukhumbu,,,,,nan,...,2074-08-06,39.625,32.905,70.855,77.060,15.850,6.581,15.412,14.171,52.014
116,BUDDHA MOKTAN,2050-11-11,M,CHYANGBA TAMANG,24-01-69-06065|2069-11-03|Sindhupalchowk,,,,,nan,...,2069-11-03,35.320,32.930,70.855,77.060,14.128,6.586,15.412,14.171,50.297
125,UMESH DAS MALAH,2044-06-02,M,LILENDRA DAS MALAH,72848|N/A|N/A,,,14406790|N/A,,nan,...,N/A,36.635,28.165,74.745,77.060,14.654,5.633,15.412,14.949,50.648
127,ARJUN KUMAR SAH JAISWAL,2056-06-22,M,RAMJANMA SAH KALWAR,32-01-74-08939|2074-10-11|Rautahat,,,,,nan,...,2074-10-11,36.705,31.670,70.855,77.060,14.682,6.334,15.412,14.171,50.599
128,RAMITA KUMARI CHAUDHARY,2050-09-27,F,RAMDEV DHAMI,331069/42726|2070-09-01|Banke,,,,,nan,...,2070-09-01,38.635,32.940,70.855,77.060,15.454,6.588,15.412,14.171,51.625
130,GAURI SHANKAR YADAV,2046-04-15,M,RAMCHANDRA YADAV,181055/06|2064-03-05|Mahotari,,,,,nan,...,2064-03-05,35.590,31.670,70.855,77.060,14.236,6.334,15.412,14.171,50.153
154,BHAWANI KAFLE,2047-09-04,M,CHANDRA PRASAD KAFLE,043039/636|2063-12-04|Jhapa,,,,,nan,...,2063-12-04,36.660,32.360,70.855,77.060,14.664,6.472,15.412,14.171,50.719
161,KESHUN DHOJ KARKI,2026-04-26,M,KHAMBA DHOJ KARKI,"['01|2042-05-06|Kathmandu', '06-005754|2042-05...",,,,,nan,...,2066-02-14,37.020,33.895,70.855,77.060,14.808,6.779,15.412,14.171,51.170
162,ANITA SHRESTHA,2043-04-07,F,SOM BAHADUR SHRESTHA,243038/566|2063-11-22|Parbat,,,,,nan,...,2063-11-22,38.065,34.435,70.855,77.060,15.226,6.887,15.412,14.171,51.696
165,SHIV CHANDRA SAH RAUNIYAR,2032-03-11,M,HARI NARAYAN SAH,343022/577|2064-01-15|Parsa,,,,,nan,...,2064-01-15,37.955,29.830,70.855,77.060,15.182,5.966,15.412,14.171,50.731
166,BINOD CHALISE,2056-02-01,F,KEDAR BAHADUR CHALISE,24-01-73-05989|2073-07-24|Sindhupalchowk,,,,,nan,...,2073-07-24,38.420,25.470,70.855,77.060,15.368,5.094,15.412,14.171,50.045
172,BASANTA THAPA,2041-05-25,F,MEGH PRASAD SEADAI,"['531017-725|2066-06-04|Pyuthan', '531017/725|...",,,,,nan,...,2066-06-04,37.790,26.700,70.855,77.060,15.116,5.340,15.412,14.171,50.039
173,SHYAM KRISHNA TIMALSINA,2047-08-25,M,PADAM NARAYAN SHRESTHA,28-01-066-06443|2066-12-10|Lalitpur,,,,,nan,...,2066-12-10,39.665,26.710,70.855,77.060,15.866,5.342,15.412,14.171,50.791
174,RAJA RAM PAUDEL,2033-07-20,M,KRISHNA PRASAD PAUDEL,"['2533558|2049-11-11|Nuwakot', '33558|2049-11-...",,,,,nan,...,2049-11-11,36.235,34.460,70.855,77.060,14.494,6.892,15.412,14.171,50.969
177,SABINA GAUTAM,2056-01-07,F,LILA NATH GAUTAM,21-13-72-00497|2072-12-04|Ramechhap,,,,,nan,...,2072-12-04,38.895,28.165,70.855,77.060,15.558,5.633,15.412,14.171,50.774
178,GANGA BAHADUR ADHIKARI,2039-03-19,M,CHANDRA BAHADUR ADHIKARI,30405|2056-03-27|Kailali,,,,,nan,...,2056-03-27,35.190,32.360,70.855,77.060,14.076,6.472,15.412,14.171,50.131
193,HARI SINGH BHANDARI,2035-05-08,M,BIR SINGH BHANDARI,16089|2055-05-27|Baitadi,,,,,nan,...,2055-05-27,35.320,35.285,70.855,77.060,14.128,7.057,15.412,14.171,50.768
195,SALIM KHA,2050-01-02,M,KARIM KHA,65-01-70-02619|2070-05-14|Bardiya,,,,,nan,...,2070-05-14,36.230,33.710,70.855,77.060,14.492,6.742,15.412,14.171,50.817
208,KRISHNA PRASAD PAUDEL,1991-06-10,M,DURGADATTA PAUDEL,1172|2036-01-26|Nuwakot,,,,,nan,...,2036-01-26,36.290,27.400,70.855,85.605,14.516,5.480,17.121,14.171,51.288
209,SHANKAR THAPA,2040-02-17,M,TILOCHAN KRANTI,32452|2058-04-18|Pyuthan,,,,,nan,...,2058-04-18,39.665,28.895,70.855,77.060,15.866,5.779,15.412,14.171,51.228

In [21]:
individual_df.head()

,Name,DOB,Gender,FatherName,CitizenshipDetails,PassportDetails,DrivingLicenseDetails,VoterIDDetails,PANDetails,CompanyDetails,...,CitizenshipNumber,name_percent,father_name_percent,citizenship_percent,dob_percent,weightage_name,weightage_fathername,weightage_dob,weightage_citizenship_no,total_weight
0,JAISARI RANA,2043-02-14,F,MODAR RANA,"['0663046-844|2063-11-09|Banke', '0663046/844|...",,,,602298847|2071-04-22|Banke,nan,...,2063-11-09,24.380,20.355,70.855,77.06,9.752,4.071,15.412,14.171,43.406
1,ASHOK PARAJULI,2039-04-29,M,PASHUPATI PARAJULI,80209|2055-11-26|Kaski,,,,613715562|2077-06-06|Kaski,nan,...,2055-11-26,28.910,27.025,70.855,77.06,11.564,5.405,15.412,14.171,46.552
2,SANJAYA CHAUDHARY,2049-05-27,M,RAMESH PRASAD CHAUDHARY,051051/19|2066-10-06|Morang,,,,,nan,...,2066-10-06,37.815,33.910,70.855,77.06,15.126,6.782,15.412,14.171,51.491
3,RAMESH PRASAD CHOUDHARI,2016-03-28,M,KHUSHI LAL THARU,05/1069|2039-03-28|Morang,,,,,nan,...,2039-03-28,36.875,15.380,70.855,77.06,14.750,3.076,15.412,14.171,47.409
4,CHAKRA BAHADUR BAM (BOGATI),2037-10-04,M,BHIM BAHADUR BOGATI,32444|2056-11-13|Kailali,,,,,nan,...,2056-11-13,29.785,34.720,70.855,77.06,11.914,6.944,15.412,14.171,48.441

In [20]:
df['total_weight'] = df['weightage_name'] + df['weightage_fathername'] + df['dateofbirth_weight'] + df['citizenshipno_weight']

KeyError: 'name_weight'

In [72]:
filtered_df = df[df['total_weight'] > 60]
filtered_df.values

array([[4273, 4273, 1.0, nan, '001 Individual', 4356, 'BABITA GURUNG',
        'BABITA ', nan, 'GURUNG', nan, 'GILUNG 3',
        datetime.datetime(1972, 9, 17, 0, 0), '11250', 'LAM',
        'BAM BAHADUR GURUNG', 'GANESH BAHADUR GURUNG',
        'KUMAR PRASAD ADHIKARI', 'A', '9803197100', '4385510', 'LR', nan,
        nan, nan, 75.0, 30.0, 88.89, 17.778, 34.48, 6.896, 40.0, 8.0,
        62.674]], dtype=object)

In [3]:
import ast

# string2 = "['38705-2032']"
string2 = "Aayaan"
# Check if the string contains '[' character
if '[' in string2:
    string2_list = ast.literal_eval(string2)
    for item in string2_list:
        print(item)
else:
    string2 = string2
    print(string2)

Aayaan

In [7]:
import ast
try:
    string2_list = ast.literal_eval(string2)
    for item in string2_list:
        string2 = item
except (ValueError, SyntaxError):
    string2 = string2

In [8]:
import pandas as pd
import jellyfish

# Sample dataframes
df1 = pd.DataFrame({
    'Name': ['ram', 'sam', 'sita', 'gita', 'ram', 'pradip'],
    'DOB': ['1990-01-01', '1985-05-20', '1988-12-15', '1992-03-10', '1990-01-01', '1982-07-18']
})

df2 = pd.DataFrame({
    'Name': ['ram', 'sam', 'sita', 'gita', 'pradeep'],
    'DOB': ['1990-01-01', '1985-05-20', '1988-12-15', '1992-03-10', '1982-07-18']
})

# Function to calculate Levenshtein similarity using Soundex condition
def calculate_similarity(row1, row2):
    if jellyfish.soundex(row1['Name']) == jellyfish.soundex(row2['Name']):
        return jellyfish.levenshtein_distance(row1['Name'], row2['Name'])
    else:
        return None

# Calculate similarity and create a new dataframe with results
similarities = []
for index1, row1 in df1.iterrows():
    for index2, row2 in df2.iterrows():
        similarity = calculate_similarity(row1, row2)
        if similarity is not None:
            similarities.append({
                'Name1': row1['Name'],
                'Name2': row2['Name'],
                'Similarity': similarity
            })

result_df = pd.DataFrame(similarities)

# Display the result dataframe
print(result_df)

    Name1    Name2  Similarity
0     ram      ram           0
1     sam      sam           0
2    sita     sita           0
3    gita     gita           0
4     ram      ram           0
5  pradip  pradeep           2